<tr>
    <td style="width: 25px;"></td>
    <td style="font-family: 'Trebuchet MS', Arial, sans-serif; font-size: 21px; color: #000;">
        Witaj,<br>
        na Twoim koncie w panelu zamówień <a href="https://grupamagnum.eu/zamowienia">GrupaMAGNUM</a> została utworzona nowa wycena zamówienia!<br>
        Bardzo prosimy o zalogowanie się i analizę zamówienia z dokonaniem płatności na podane kwoty w panelu.<br>
        <br>
        Pozdrawiamy 
        GrupaMAGNUM
        <br><br>
        Link do panelu: <a href="https://grupamagnum.eu/zamowienia">https://grupamagnum.eu/zamowienia</a>
    </td>
    <td style="width: 25px;"></td>
</tr>
{% for dane in klinar_dane  %}
 
          {{ dane.firma }}
           {{ dane.imie }} {{ dane.nazwisko }}

    {% endfor %}

 <table id="example2" class="table table-bordered table-hover dataTable" role="grid">
                            <thead>
                                <tr role="row">
                                    <th>Firma</th>
                                    <th>Imie Nazwisko</th>
                                    <th>Produkty</th>
                                    <th>ilości</th>

                                </tr>
                            </thead>
{% for shoper in klinar  %}
       <tr>
           <th>{{ shoper.firma }}</th>
           <th>{{ shoper.imie }} {{ shoper.nazwisko }}</th>
           <th>{{ shoper.nazwa }} {{ shoper.wariant }}</th>
           <th>{{ shoper.ilosc }} {{ shoper.jednostka }}</th>
       </tr>
    {% endfor %}
 </table>