{% extends 'MarcinAdminBundle::base.html.twig' %}
{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/marcinadmin/own/select/css/bootstrap-select.min.css') }}" />
<style>
    @media print
{
	dum {color: #ff0000 !important;
		-webkit-print-color-adjust: exact; }
		
        brakdruku {
            content: none !important;
        }
        tr.kolordruk {
            background-color: #C3C3C3 !important;
            -webkit-print-color-adjust: exact;
        }
	
}
.ui-sortable-helper td{
    border: 1px solid red;
    padding:2px 5px 2px 5px;
    width:1000px;
    background-color: white;
    opacity: 0.7;
}
</style>
{% endblock %}
{% block body %}
            <section class="content-header">
          <h1>
            Pulpit
            <small>zarządzania GM</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Pulpit</a></li>
            <li class="active">tutaj</li>
          </ol>
        </section>
                    {% include 'MarcinAdminBundle:Template:flashMsg.html.twig' %}
        <!-- Main content -->
        <section class="content">
            <div class="box box-default color-palette-box">
            <div class="box-header with-border">
              <h3 class="box-title"><i class="fa fa-tag"></i> Użytkownicy</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12">       
                        <center>
                            <div class="row">
                                      <center>Zestawienie zbiorcze</center>
                                      <center>Trasa: {{ status }}</center><br>
                            </div>
                          <div id="do_drukowania">
                              {% set kasa_przeplata = 0 %}
                              {% set kasa_odbior = 0 %}
                              {% set kasa_przelew = 0 %}
                               {% set arr = {} %}
                               {% set a = 0 %}
                               {% set suma1 = 0 %}
                               {% set suma2 = 0 %}
                               {% set suma3 = 0 %}
                               {% set suma4 = 0 %}
                               {% set suma5 = 0 %}
                               {% set suma6 = 0 %}
                               {% set suma7 = 0 %}
                            <table border="1" width="100%">
                                <tr class="kolordruk" bgcolor="#C3C3C3">
                                    <th>Lp</th>
                                    <th><center>Dostawa</center></th>
                                    <th><center>Informacje</center></th>
                                    <th><center>RO</center></th>
                                    <th><center>MO</center></th>
                                    <th><center>MD</center></th>
                                    <th><center>MR</center></th>
                                    <th><center>O/W</center></th>
                                    <th><center>EL</center></th>
                                </tr>
                                <tbody>
                               {% for trasss in dane%}
                                        {% set a = a + 1 %}
                                  
                                        {#  <b><h4>KLIENT:</h4></b><br>
                                          <b>{{ trasss.nazwa }}</b><br>
                                      Ulica: {{ trasss.ulica }}, {{ trasss.kod }} {{ trasss.miejscowosc }}<br>
                                           Telefon: {{ trasss.telefon }},<br>#}
                                  {% set ilosc_r = 0 %}
                                  {% set ilosc_m = 0 %}
                                  {% set ilosc_md = 0 %}
                                  {% set ilosc_mr = 0 %}
                                  {% set ilosc_o = 0 %}
                                  {% set ilosc_wz = 0 %}
                                  {% set ilosc_l = 0 %}
                                  {% set nazwafirmy = 0 %}
                                  {% set ulica = 0 %}
                                  {% set kodpocztowy = 0 %}
                                  {% set telefon = 0 %}
                                  {% set nip = 0 %}
                                  {% set miasto = 0 %}
                                  {% set iloscii = {} %}
                                  {% set b = 0 %}
                                            {% for prod in produkty if prod.dostawa == trasss.id %}
                                                {% set a = a + 1 %}
                                               {# {{ a }}#}
                                                {% set arr = arr|merge({(a):(prod.nrprodukcji)}) %}
                                                {% set b = b + 1 %}
                                                {% set iloscii = iloscii|merge({(b):(prod.nrprodukcji)}) %}
                                                {# obliczanie wartosci całego zestawienia #}
                                                {% if prod.platnosc == 'Przedpłata 100%' %} 
                                                    {% if prod.zaplacono == '1' %}{% set kasa_przeplata = kasa_przeplata + 0 %}{% else %}{% set kasa_przeplata = kasa_przeplata + prod.dozaplaty %}{% endif %}
                                                {% elseif prod.platnosc == 'Gotówka przy odbiorze' %}
                                                    {% if prod.zaplacono == '1' %}{% set kasa_odbior = kasa_odbior + 0 %}{% else %}{% set kasa_odbior = kasa_odbior + prod.dozaplaty %}{% endif %}
                                                {% elseif prod.platnosc == 'Przelew (mniejszy rabat)' %}
                                                    {% if prod.zaplacono == '1' %}{% set kasa_przelew = kasa_przelew + 0 %}{% else %}{% set kasa_przelew = kasa_przelew + prod.dozaplaty %}{% endif %}
                                                {% endif %}
                                                {# koniec obliczania wartosci #}           
                                                
                                                    {% for listaprod in lista if prod.id == listaprod.idzam %}
                                                        
                                                        {# obliczanie ilości produktów danego statusu #}
                                                        {% if prod.jakiezam == 'zamówienie roletek'%}
                                                            {% set ilosc_r = ilosc_r + 1 %}
                                                        {% elseif prod.jakiezam == 'zamówienie moskitier'%}
                                                            {% set ilosc_m = ilosc_m + 1 %}
                                                        {% elseif prod.jakiezam == 'zamówienie moskitier drzwiowych'%}
                                                            {% set ilosc_md = ilosc_md + 1 %}
                                                        {% elseif prod.jakiezam == 'zamówienie moskitier rolowanych'%}
                                                            {% set ilosc_mr = ilosc_mr + 1 %}
                                                        {% elseif prod.jakiezam == 'zgłoszenie do odbioru'%}
                                                            {% set ilosc_o = ilosc_o + 1 %}
                                                        {% elseif prod.jakiezam == 'zamówienie elementów luzem'%}
                                                            {% set ilosc_l = ilosc_l + 1 %}
                                                        {% elseif prod.jakiezam == 'wydanie zewnętrzne' %}
                                                            {% set ilosc_wz = ilosc_wz + 1 %}
                                                        {% endif %}
                                                        {# koniec obliczania ilosci produktów #}
                                                        
                                                        {% endfor %}
                                                        
                                                        {%for firmowe in faktura if firmowe.user == trasss.user %}
                                                            {% set nazwafirmy = firmowe.nazwafirmy %}
                                                            {% set ulica = firmowe.ulica %} {% set kodpocztowy = firmowe.kodpocztowy %} {% set miasto = firmowe.miasto %}
                                                            {% set nip = firmowe.nip %} {% set telefon = firmowe.telefon %}
                                                    {% endfor %}
                                            {% endfor %}
                                            
                                            <tr>
                                                <td></td>
                                                <td><center>
                                                    {{ trasss.nazwa }}<br>
                                                    {{ trasss.ulica }}, {{ trasss.kod }} {{ trasss.miejscowosc }}<br>
                                                    {{ trasss.telefon }}<br>
                                                    Firma: {% if nazwafirmy == '0' %}{% else %}{{ nazwafirmy }}{% endif %}<br><b>{{ trasss.user }}</b></center>
                                                </td>
                                                <td><center>
                                                    {% for key,val in iloscii %}
                                    {{ val }},
                                    {% endfor %}
                                                   {#  {% if nazwafirmy == '0' %}{% else %}{{ nazwafirmy }}{% endif %}<br> {{ trasss.user }}
                                                   {% if ulica == '0' %}{% else %}{{ ulica }}{% endif %}, {% if kodpocztowy == '0' %}{% else %}{{ kodpocztowy }}{% endif %} {% if miasto == '0' %}{% else %}{{ miasto }}{% endif %}<br>
                                                    NIP: {% if nip == '0' %}{% else %}{{ nip }}{% endif %}, {% if telefon == '0' %}{% else %}{{ telefon }}{% endif %}#}
                                                </center></td>
                                                <td><center>{% if ilosc_r == '0' %}-{% else %}{{ ilosc_r }}{% set suma1 = suma1 + ilosc_r %}{% endif %}</center></td>
                                                <td><center>{% if ilosc_m == '0' %}-{% else %}{{ ilosc_m }}{% set suma2 = suma2 + ilosc_m %}{% endif %}</center></td>
                                                <td><center>{% if ilosc_md == '0' %}-{% else %}{{ ilosc_md }}{% set suma3 = suma3 + ilosc_md %}{% endif %}</center></td>
                                                <td><center>{% if ilosc_mr == '0' %}-{% else %}{{ ilosc_mr }}{% set suma4 = suma4 + ilosc_mr %}{% endif %}</center></td>
                                                <td><center>{% if ilosc_o == '0' %}-{% else %}{{ ilosc_o }}{% set suma5 = suma5 + ilosc_o %}{% endif %}/{% if ilosc_wz == '0' %}-{% else %}{{ ilosc_wz }}{% set suma6 = suma6 + ilosc_wz %}{% endif %}</center></td>
                                                <td><center>{% if ilosc_l == '0' %}-{% else %}{{ ilosc_l }}{% set suma7 = suma7 + ilosc_l %}{% endif %}</center></td>
                                            </tr>
                                            
                                {% endfor %}
                                </tbody>
</table>
                                <h4>Suma do zapłaty(Przedpłata 100%): <b>{{ kasa_przeplata }}</b> zł</h4>
                                <h4>Suma do zapłaty(Gotówka przy odbiorze): <b>{{ kasa_odbior }}</b> zł</h4>
                                <h4>Suma do zapłaty(Przelew): <b>{{ kasa_przelew }}</b> zł</h4><br>
                               {# {% for key,val in arr %}
                                    {{ val }},     ID PRODUKTÓW LISTA
                                    {% endfor %}#}
                               <h5>R: {{ suma1 }}, M: {{ suma2 }}, MD: {{ suma3 }}, MR: {{ suma4 }}, O: {{ suma5 }}, WZ: {{ suma6 }}, LU: {{ suma7 }}</h5>
</div>  
                                 <FORM>
                                                <div class="row"><div class="col-md-12"><INPUT TYPE="button" class="btn btn-warning btn-lg btn-block" onClick="printDiv('do_drukowania')" value="WYDRUKUJ LUB ZAPISZ DO PDF"></div></div></FORM> 
                        </center>
                               

                    </div>
                </div>
            </div><!-- /.box-body -->
            
          </div>

</section>
        {% endblock %}
{% block javascripts %}
    {{parent()}}
                           
    <script type="text/javascript" src="{{ asset('bundles/marcinadmin/own/select/js/bootstrap-select.min.js') }}"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
    
         <script>
function printDiv(divName) {
     var printContents = document.getElementById(divName).innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
}
</script>
<script>
    $("tbody").sortable({
    items: "> tr",
    appendTo: "parent",
    helper: "clone"
}).disableSelection();
    </script>
{% endblock %}

