{% extends 'MarcinAdminBundle::base.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/marcinadmin/own/style.css') }}" />
   <link rel="stylesheet" type="text/css" href="{{ asset('bundles/marcinadmin/own/select/css/bootstrap-select.min.css') }}" />
{% endblock %}
{% block body %}
    <section class="content-header">
        <h1>
            Pulpit
            <small>zarządzania GM</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Pulpit</a></li>
            <li class="active">tutaj</li>
        </ol>
    </section>
    {% include 'MarcinAdminBundle:Template:flashMsg.html.twig' %}
    <!-- Main content -->
    <section class="content">
        <div class="box box-default color-palette-box">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-tag"></i> Zamówienia</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12">
                        <form action="{{ path('marcin_admin_paneltrasa', {'status': currStatus}) }}" method="get" class="form-inline filter-search padding-top-15 padding-bottom-15" role="form">
                                                {% for key,val in statusesList %}
                    <div class="col-xs-4 col-md-2 col-lg-2 padding-bottom-15">
                        <a class="btn btn-block {{ currStatus == val ? 'btn-default':'btn-primary' }}" href="{{ path('marcin_admin_paneltrasa', {'status': val}) }}">
                            {{ key }} <span class="badge">{{ statistics[val] }}</span>
                        </a>
                    </div>
                    {% endfor %}
                    <div class="col-xs-4 col-md-2 col-lg-2 padding-bottom-15">
                        <ul class="list-group">
                            <li class="list-group-item">
                                Suma: <b><font color="red"><span id="result"></span></font> zł</b>
                            </li>
                        </ul>
                    </div>
                    {% if currStatus != 'all' %}
                    <div class="col-xs-4 col-md-2 col-lg-2 padding-bottom-15">
                        <a class="btn btn-block btn-danger" href="{{ path('marcin_admin_paneltrasa_generowanie', {'status': currStatus}) }}">zestawienie</a>
                    </div>
                    {% endif %}
                     <div class="col-xs-4 col-md-2 col-lg-2 padding-bottom-15">
                        <div class="form-group limit">
                               <select name="limit" class="form-control select-block input-md" id="limit" placeholder="Pokaż" onchange="this.form.submit()">
                                   {% for limit in limits %}
                                       <option {{ currLimit == limit ? 'selected="selected"':'' }} value="{{ limit }}">
                                           {{ limit }}
                                       </option>
                                   {% endfor %}
                               </select>
                       </div>
                    </div>
                               <div class="clearfix"></div>
                            <div class="col-xs-12 col-md-2 col-lg-3 padding-bottom-15 pull-right">
                                <div class="input-group" style="width: 100%;">
                                  <input type="text" name="userLike" class="form-control input-md" placeholder="Wyszukaj po nr-user-zam" value="{{ queryParams['userLike'] }}">
                                  <div class="input-group-btn">
                                    <button class="btn btn-md btn-block btn-default"><i class="fa fa-search"></i></button>
                                  </div>
                                </div>
                            </div>
                   
                               <div class="clearfix"></div>
                        </form>
                        <div style="overflow-x: auto;">
                        <table id="example2" class="table table-bordered table-hover dataTable" role="grid">
                            <thead>
                                <tr role="row">
                                    <th <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="id">{{ knp_pagination_sortable(pagination, 'Id', 's.id') }}</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Jakie zamówienie">jakie_zam</th>
                                    <th class="sorting_desc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="id">{{ knp_pagination_sortable(pagination, 'nr_user_zam', 's.nr_user_zam') }}</th>
                                    <th>Produkcja</th>
                                    <th>do zaplaty</th>
                                    <th>dost/zapl</th>
                                    <th>dost</th>
                                </tr>
                            </thead>

                            {% for article in pagination  %}
                                <tr><th id="task-complete-{{ article.id }}">{{ article.id }}</th> 
                                    <th>{% if article.jakie_zam == 'zamówienie moskitier' %} <h4><font color="red">M</font></h4> {% elseif article.jakie_zam == 'zamówienie moskitier drzwiowych' %} <h4><font color="red">MD</font></h4> {% elseif article.jakie_zam == 'zamówienie moskitier rolowanych' %} <h4><font color="red">MR</font></h4> {% elseif article.jakie_zam == 'zgłoszenie do odbioru' %} <h4><font color="red">ZO</font></h4> {% elseif article.jakie_zam == 'zamówienie elementów luzem' %} <h4><font color="red">EL</font></h4> {% else %} <h4><font color="red">R</font></h4>{# {{ article.jakie_zam }}#}{% endif %}</th>
                                    <th>{{ article.nr_user_zam  }}</th>
                                    <th id="numerprodukcji{{ article.id }}">
                                        <div id="produkcja{{ article.id }}">
                                             <h4><span>
                                                     <i class="fa fa-exclamation-circle"></i><font color="black"> {{ article.nrprodukcji }} </font></span></h4>
                                        </div>
                                    </th>
                                           {#                             <th id="zmiana-status-{{ article.id }}">
                                        <select name="status_select" data-container="body" class="selectpicker"{% if article.status == 'wersja robocza' %} data-style="btn-info" {% elseif article.status == 'przesłane do realizacji' %} data-style="btn-warning" {% elseif article.status == 'oczekiwanie na zapłatę' %} data-style="btn-danger" {% elseif article.status == 'anulowane' %} data-style="btn-danger" {% elseif article.status == 'w realizacji' %} data-style="btn-primary" {% elseif article.status == 'wyprodukowane' %} data-style="btn-primary" {% elseif article.status == 'w dostawie' %} data-style="btn-danger" {% elseif article.status == 'gotowe do odbioru/montażu' %} data-style="btn-danger" {% elseif article.status == 'wysłane' %} data-style="btn-danger" {% else %} data-style="btn-success" {% endif %} id="{{ path('marcin_admin_dashboard_update', {'id': article.id }) }}" onchange="changeOrderStatus('{{ article.id }}', '{{ article.user }}', event)">
                                            <option value="wersja robocza"{% if article.status == 'wersja robocza' %} selected="selected" {% endif %}>wersja robocza</option>
                                            <option value="anulowane"{% if article.status == 'anulowane' %} selected="selected" {% endif %}>anulowane</option>
                                            <option value="przesłane do realizacji"{% if article.status == 'przesłane do realizacji' %} selected="selected" {% endif %}>przesłane do realizacji</option>
                                            <option value="oczekiwanie na zapłatę"{% if article.status == 'oczekiwanie na zapłatę' %} selected="selected" {% endif %}>oczekiwanie na zapłatę</option>
                                            <option value="w realizacji"{% if article.status == 'w realizacji' %} selected="selected" {% endif %}>w realizacji</option>
                                            <option value="wyprodukowane"{% if article.status == 'wyprodukowane' %} selected="selected" {% endif %}>wyprodukowane</option>
                                            <option value="w dostawie"{% if article.status == 'w dostawie' %} selected="selected" {% endif %}>w dostawie</option>
                                            <option value="gotowe do odbioru/montażu"{% if article.status == 'gotowe do odbioru/montażu' %} selected="selected" {% endif %}>gotowe do odbioru/montażu</option>
                                            <option value="wysłane"{% if article.status == 'wysłane' %} selected="selected" {% endif %}>wysłane</option>
                                            <option value="zrealizowane/odebrane"{% if article.status == 'zrealizowane/odebrane' %} selected="selected" {% endif %}>zrealizowane/odebrane</option></select>
                                        {#<h4>{% if article.status == 'wersja robocza' %}<span class="label label-danger">{{ article.status }}</span> {% elseif article.status == 'przesłane do realizacji' %} <span class="label label-info">{{ article.status }}</span> {% elseif article.status == 'w realizacji' %} <span class="label label-success">{{ article.status }}</span> {% elseif article.status == 'przyjęte do realizacji' %} <span class="label label-success">{{ article.status }}</span> {% else %} <span class="label label-primary">{{ article.status }}</span>{% endif %}</h4>#}{#</th>#}
                                           <th id="wynik{{ article.id }}"><div class="btn-group">{% if article.zaplacono == '0' %} <h4>{% if article.dozaplaty == '0' %}<div id="dozaplaty{{ article.id }}"><span class="label label-warning"><i class="fa fa-exclamation-circle"></i> do wyceny </span></div>{% else %}<div id="dozaplaty{{ article.id }}"><span class="label label-danger"><dssd class="dozaplatyy">{{ article.dozaplaty  }}</dssd> zł</span></div>{% endif %}</h4> {% else %} <h4><span class="label label-success">{{ article.dozaplaty  }} zł</span></h4> {% endif %}</div></th>
                                        <th><div class="checkbox checkbox-success">
                                                <input style="flat-red" id="spr" type="checkbox" value="{{ article.zaplacono }}" onclick="changeOrderPay('{{ article.id }}', event)"{# {% if article.zaplacono == '1' %}checked {% endif %} #}/><label for="checkbox1">
    </label></div></th>
    <th><div class="checkbox checkbox-danger">
                                                <input style="flat-red" id="spr1" type="checkbox" value="{{ article.zaplacono }}" onclick="changeOrderNotPay('{{ article.id }}', event)"{# {% if article.zaplacono == '1' %}checked {% endif %} #}/><label for="checkbox2">
    </label></div></th>
                                    </tr>
                                    {% endfor %}
                                    </table>
                        </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                                        Wszystkich zamówień jest: {{ pagination.getTotalItemCount }}
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="dataTables_paginate">
                                        {{ knp_pagination_render(pagination, 'MarcinAdminBundle:Pagination:admin_pagination.html.twig') }}
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.box-body -->

                    </div>

                </section>
                {% endblock %}
                    {% block javascripts %}
                        {{parent()}}
                        <script type="text/javascript">

                            function changeOrderPay(id, event) {
                                var order_id = id;
                                var element = event.currentTarget;
                                var clicked = event.target;
                                
                                if($(element).is(":checked")) {
             console.log('zaznaczono!');
             var zaplacono = 1;
        } else {
             console.log('odznaczono!');
             var zaplacono = 0;
        }
                                var url = '{{ path('marcin_admin_paneltrasa_update') }}';

                                $.ajax({
                                    url: url,
                                    data: {
                                        id: order_id,
                                        zaplacono: zaplacono
                                    },
                                    method: 'POST',
                                    success: function (data) {
                                        {#  $('#wynik'+order_id).load(document.URL + ' #wynik'+order_id);#}
                                                
                                    }
                                });

                            }
                            
                            function changeOrderNotPay(id, event) {
                                var order_id = id;
                                var element = event.currentTarget;
                                var clicked = event.target;
                                
                                if($(element).is(":checked")) {
             console.log('zaznaczono!');
             var zaplacono = 2;
        } else {
             console.log('odznaczono!');
             var zaplacono = 3;
        }
                                var url = '{{ path('marcin_admin_paneltrasa_update') }}';

                                $.ajax({
                                    url: url,
                                    data: {
                                        id: order_id,
                                        zaplacono: zaplacono
                                    },
                                    method: 'POST',
                                    success: function (data) {
                                        {#  $('#wynik'+order_id).load(document.URL + ' #wynik'+order_id);#}
                                                
                                    }
                                });

                            }
                            
{# function changeOrderPrice(id, user, event) {
                                var order_id = id;
                                var username = user;
                                var element = event.currentTarget;
                                var clicked = event.target;
                                var price = parseFloat($(element).val().replace(',', '.'));
                                var num = price.toFixed(2);
                                //parseFloat($("#fullcost").text().replace(',', '.'));
                               // num = num.replace(",", ".");
                                var url = '';
                                
                                if(!isNaN(num))
                                {
                                $.ajax({
                                    url: url,
                                    data: {
                                        id: order_id,
                                        price: num,
                                        login: username
                                    },
                                    method: 'POST',
                                    success: function (data) {
                                                console.log(num);
                                    }
                                });
                            }

                            }#}
                           
                        </script>
                        <script>
     var time = new Date().getTime();
     $(document.body).bind("mousemove keypress", function(e) {
         time = new Date().getTime();
     });

     function refresh() {
         if(new Date().getTime() - time >= 200000) 
             window.location.reload(true);
         else 
             setTimeout(refresh, 50000);
     }

     setTimeout(refresh, 50000);
</script>
<script>
    $( document ).ready(function() {
            $('.dozaplatyy').each(function() {
    calculateSum();
});
        });
         function calculateSum() {

var sum = 0;
//iterate through each td based on class and add the values
    $(".dozaplatyy").each(function() {
        var value = $(this).text();
        //add only if the value is number
        if(!isNaN(value) && value.length != 0) {
        sum += parseFloat(value);
    }

    });
$('#result').text(sum.toFixed(2));    
};
    </script>
        <script type="text/javascript" src="{{ asset('bundles/marcinadmin/own/select/js/bootstrap-select.min.js') }}"></script>
                    {% endblock %}

