{% extends 'MarcinAdminBundle::base.html.twig' %}
{% block stylesheets %}
{{parent()}}
<style>
    .multiselect {
    width:30em;
    height:30em;
    border:solid 1px #c0c0c0;
    overflow:auto;
}
 
.multiselect label {
    display:block;
}
 
.multiselect-on {
    color:#ffffff;
    background-color:#23b7e5;
}
    </style>
{% endblock %}
{% block body %}
            <section class="content-header">
          <h1>
            Edycja
            <small>Edycja użytkownika</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Pulpit</a></li>
            <li class="active">tutaj</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-6">
                    <div class="box box-default color-palette-box">
                        <div class="box-header with-border">
                            <h3 class="box-title"><i class="fa fa-tag"></i> Edycja użytkownika</h3>
                        </div>
                        <div class="box-body">

                         {% include 'MarcinAdminBundle:Template:flashMsg.html.twig' %}
                        {{ form_start(form, {'attr': {'novalidate': 'true'}}) }}
                        <div class="form-group">
                            {{ form_row(form.imienazw) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.login) }}
                        </div>{# , {'attr': {'disabled':'true'} } #}
                        <div class="form-group">
                            {{ form_row(form.email) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.adminstatus) }}
                        </div>
                        <div class="form-group">
                            {{ form_rest(form) }}
                        {{ form_row(form.save) }} 
                        </div>
                        {{ form_end(form) }}
                        <a href="{{ path('marcin_admin_username') }}" class="btn btn-primary">Wstecz</a> 

                        </div>
                    </div>
                </div>
            <div class="col-md-6">
                <div class="box box-default color-palette-box">
                    <div class="box-header with-border">
                     <h3 class="box-title"><i class="fa fa-tag"></i> Edycja użytkownika</h3>
                    </div>
                    <div class="box-body">
                        <div class="multiselect">
                            {% for users in user %}
                                {% if users.adminstatus == 'admin' %}
                                 {% for list in listuser %}
                                      {% set arr = {} %}
                                      {% set a = 0 %}
                                       {% for admins in admin if admins.user == users.login  %}
                                           {% set a = a + 1 %}
                                           {% if admins.userpo == list.login %}
                                               {% if list.login != users.login %}
                                               {% set arr = arr|merge({(a):(list.login)}) %}
                                               <label><input type="checkbox" name="{{ list.login }}" value="{{ list.login }}" onclick="changeAdmins('{{ list.id }}','{{ users.login }}','{{ admins.id }}', event)" checked/> {{ list.login }}</label>
                                            {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if list.login in arr  %}
                                       
                                        {% else %}
                                            {% if list.login != users.login %}
                                                 <label><input type="checkbox" name="{{ list.login }}" value="{{ list.login }}" onclick="changeAdmins('{{ list.id }}','{{ users.login }}','', event)"/> {{ list.login }}</label>
                                            {% endif %}     
                                            {% endif %}
                                                                                   
                                 {% endfor %}
                                 {% else %}
                                 <label>Brak uprawnień użytkownika {{ users.login }}</label>
                                 {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            </div>
</section>
        {% endblock %}
{% block javascripts %}
    {{parent()}}
    <script>
        jQuery.fn.multiselect = function() {
    $(this).each(function() {
        var checkboxes = $(this).find("input:checkbox");
        checkboxes.each(function() {
            var checkbox = $(this);
            // Highlight pre-selected checkboxes
            if (checkbox.prop("checked"))
                checkbox.parent().addClass("multiselect-on");
 
            // Highlight checkboxes that the user selects
            checkbox.click(function() {
                if (checkbox.prop("checked"))
                    checkbox.parent().addClass("multiselect-on");
                else
                    checkbox.parent().removeClass("multiselect-on");
            });
        });
    });
};
$(function() {
     $(".multiselect").multiselect();
});

  function changeAdmins(id, user, aid, event) {
                                var order_id = id;
                                var login = user;
                                var aid = aid;
                                var element = event.currentTarget;
                                var clicked = event.target;
                                
                                
                                if($(element).is(":checked")) {
             console.log('zaznaczono!');
             var zaznaczenie = 1;
             var admins = $(element).val();
        } else {
             console.log('odznaczono!');
             var zaznaczenie = 0;
             var admins = $(element).val();
        }
                                var url = '{{ path('marcin_admin_username_update_admins') }}';

                                $.ajax({
                                    url: url,
                                    data: {
                                        id: order_id,
                                        admin: admins,
                                        zaznaczenie: zaznaczenie,
                                        login: login,
                                        aid: aid
                                    },
                                    method: 'POST',
                                    success: function (data) {
                                              //  $('#wynik'+order_id).load(document.URL + ' #wynik'+order_id);
                                                
                                    }
                                });

                            }
        </script>
{% endblock %}