{% extends 'MarcinAdminBundle::base.html.twig' %}
{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/marcinadmin/own/select/css/bootstrap-select.min.css') }}" />
{% endblock %}
{% block body %}
            <section class="content-header">
          <h1>
            Pulpit
            <small>zarządzania GM</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Pulpit</a></li>
            <li class="active">tutaj</li>
          </ol>
        </section>
                    {% include 'MarcinAdminBundle:Template:flashMsg.html.twig' %}
        <!-- Main content -->
        <section class="content">
            <div class="box box-default color-palette-box">
            <div class="box-header with-border">
              <h3 class="box-title"><i class="fa fa-tag"></i> Użytkownicy</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div style="overflow-x: auto;">
                        <table id="example2" class="table table-bordered table-hover dataTable" role="grid">
                            <thead>
                                <tr role="row">
                                    <th <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="id">{{ knp_pagination_sortable(pagination, 'Id', 's.id') }}</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Jakie zamówienie">Imie nazwisko</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Jakie zamówienie">Login</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Jakie zamówienie">Email</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Jakie zamówienie">Trasa</th>
                                    <th>akcje</th>
                                </tr>
                            </thead>
        
    {% for article in pagination  %}
       <tr><th>{{ article.id }}</th> 
           <th>{{ article.imienazw }}</th>
           <th>{{ article.login }} NIP: {% for faktura in dane if faktura.user == article.login %}{{ faktura.nip }}{% endfor %}</th>
           <th>{{ article.email }}</th>
           <th id="zmiana-trasa-{{ article.id }}">
           <select name="status_select" data-container="body" class="selectpicker" data-style="btn-primary" id="{{ path('marcin_admin_username_update_trasa', {'id': article.id }) }}" onchange="changeOrderTrasa('{{ article.id }}', event)">
                {% for trasy in trasa %}
                <option value="{{ trasy.nazwa }}"{% if article.trasa == trasy.nazwa %} selected="selected" {% endif %}>{{ trasy.nazwa }}</option>
                {% endfor %}
           </select>
           </th>
           <th>{% if article.new == '0' %}  {% else %}  
               {% set tokenName = csrfProvider.generateCsrfToken(updateTokenName|format(article.id)) %}
                                      {% set updateUrl = path('marcin_admin_username_update', {'id': article.id, 'token': tokenName}) %}
                                      <a href="{{ updateUrl }}" class="btn btn-success" data-confirmAction="">
                                          <span class="glyphicon glyphicon-ok"></span>
                                      </a>{% endif %}
                {% if article.aktywacja == 'tak' %}  {% else %}  
               {% set tokenName = csrfProvider.generateCsrfToken(aktywacjaTokenName|format(article.id)) %}
                                      {% set aktywacjaUrl = path('marcin_admin_username_aktywacja', {'id': article.id, 'token': tokenName}) %}
                                      <a href="{{ aktywacjaUrl }}" class="btn btn-success" data-confirmAction="">
                                          Aktywacja
                                      </a>{% endif %}
                <a href="{{ path('marcin_admin_username_form', {'id': article.id}) }}" class="btn btn-primary">
                                                <span class="glyphicon glyphicon-edit"></span>
                                            </a>
               
           </th>
       </tr>
    {% endfor %}
        </table>
    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                            Wszystkich zamówień jest: {{ pagination.getTotalItemCount }}
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="dataTables_paginate">
                            {{ knp_pagination_render(pagination, 'MarcinAdminBundle:Pagination:admin_pagination.html.twig') }}
                        </div>
                    </div>
                </div>
            </div><!-- /.box-body -->
            
          </div>

</section>
        {% endblock %}
{% block javascripts %}
    {{parent()}}
                            <script type="text/javascript">

                            function changeOrderTrasa(id, event) {
                                var order_id = id;
                                var element = event.currentTarget;
                               // var clicked = event.target;
                                var status = $(element).val();
                                var url = '{{ path('marcin_admin_username_update_trasa') }}';

                                $.ajax({
                                    url: url,
                                    data: {
                                        id: order_id,
                                        status: status
                                    },
                                    method: 'POST',
                                    success: function (data) {
                                                console.log(status);
                                    }
                                });

                            }
    </script>
    <script type="text/javascript" src="{{ asset('bundles/marcinadmin/own/select/js/bootstrap-select.min.js') }}"></script>
{% endblock %}

