{% extends 'MarcinAdminBundle::base.html.twig' %}
{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/marcinadmin/own/select/css/bootstrap-select.min.css') }}" />
{% endblock %}
{% block body %}
            <section class="content-header">
          <h1>
            Pulpit
            <small>zarządzania GM</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Pulpit</a></li>
            <li class="active">tutaj</li>
          </ol>
        </section>
                    {% include 'MarcinAdminBundle:Template:flashMsg.html.twig' %}
        <!-- Main content -->
        <section class="content">
            <div class="box box-default color-palette-box">
            <div class="box-header with-border">
              <h3 class="box-title"><i class="fa fa-tag"></i> Okna</h3>
            </div>
            <div class="box-body">
                <div class="row">
                   <div class="col-md-3"><a href="{{ path('marcin_admin_zamokna_form') }}" class="btn btn-danger btn-block">NOWY <i class="fa fa-plus" aria-hidden="true"></i></a></div>
                    <div class="clearfix"></div><br>
                    <div class="col-sm-12">
                    <form action="{{ path('marcin_admin_zamokna') }}" method="get" class="form-inline filter-search padding-top-15 padding-bottom-15" role="form">
                        <div class="clearfix"></div>
                            <div class="col-xs-12 col-md-2 col-lg-3 padding-bottom-15 pull-right">
                                <div class="input-group" style="width: 100%;">
                                  <input type="text" name="userLike" class="form-control input-md" placeholder="Wyszukaj po nr-user-zam" value="{{ queryParams['userLike'] }}">
                                  <div class="input-group-btn">
                                    <button class="btn btn-md btn-block btn-default"><i class="fa fa-search"></i></button>
                                  </div>
                                </div>
                            </div>
                         <div class="clearfix"></div>
                        </form>
                        <div style="overflow-x: auto;">
                        <table id="example2" class="table table-bordered table-hover dataTable" role="grid">
                            <thead>
                                <tr role="row">
                                    <th <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="id">{{ knp_pagination_sortable(pagination, 'Id', 's.id') }}</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Jakie zamówienie">Nazwa</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Jakie zamówienie">Felc</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Jakie zamówienie">Ościeżnica</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Jakie zamówienie">Skrzydło</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Jakie zamówienie">Blaszka St</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Jakie zamówienie">Blaszka Ex</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Jakie zamówienie">Rodzaj</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Jakie zamówienie">Str wier</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Jakie zamówienie">Szer</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Jakie zamówienie">Wys</th>
                                    <th>akcje</th>
                                </tr>
                            </thead>
        
    {% for article in pagination  %}
       <tr id="danee{{ article.id }}"><th>{{ article.id }}</th> 
           <th><a href="{{ path('marcin_admin_zamokna_form', {'id': article.id}) }}">{{ article.name }}</a>
               <button type="button" class="btn btn-warning" data-toggle="modal" data-target=".bs-example-modal-lg{{ article.id }}"><i class="fa fa-retweet" aria-hidden="true"></i></button>
               <!-- MODAL -->
               <div class="modal fade bs-example-modal-lg{{ article.id }}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel{{ article.id }}">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{{ article.name }}</h4>
                      </div>
                      <div class="modal-body">
                       <div class="form-group">
                           <label>Felc:</label>
                           <input type="text" id="felc{{ article.id }}" value="{{ article.felc }}" class="form-control">
                       </div>
                       <div class="form-group">
                           <label>Ościeżnica:</label>
                           {#<input type="text" value="{{ article.oscieznica }}" class="form-control">#}
                           <select class="form-control" id="oscieznica{{ article.id }}">
                               <option>proszę wybrać</option>
                               <option value="Kańciasta" {% if article.oscieznica == 'Kańciasta' %}selected{% endif %}>Kańciasta</option>
                               <option value="Zaokrąglona" {% if article.oscieznica == 'Zaokrąglona' %}selected{% endif %}>Zaokrąglona</option>
                               <option value="Bez uszczelki" {% if article.oscieznica == 'Bez uszczelki' %}selected{% endif %}>Bez uszczelki</option>
                               <option value="Z okapnikiem" {% if article.oscieznica == 'Z okapnikiem' %}selected{% endif %}>Z okapnikiem</option>
                           </select>
                       </div>
                       <div class="form-group">
                           <label>Skrzydło:</label>
                           {#<input type="text" value="{{ article.skrzydlo }}" class="form-control">#}
                           <select class="form-control" id="skrzydlo{{ article.id }}">
                               <option>proszę wybrać</option>
                               <option value="Cofnięte" {% if article.skrzydlo == 'Cofnięte' %}selected{% endif %}>Cofnięte</option>
                               <option value="Pół-lico" {% if article.skrzydlo == 'Pół-lico' %}selected{% endif %}>Pół-lico</option>
                               <option value="Lico" {% if article.skrzydlo == 'Lico' %}selected{% endif %}>Lico</option>
                               <option value="Z okapnikiem" {% if article.skrzydlo == 'Z okapnikiem' %}selected{% endif %}>Z okapnikiem</option>
                           </select>
                       </div>
                       <div class="form-group">
                           <label>Blaszka standard:</label>
                           <input type="text" id="blaszka{{ article.id }}" value="{{ article.blaszka }}" class="form-control">
                       </div>
                       <div class="form-group">
                           <label>Blaszka Exclusive:</label>
                           <input type="text" id="blaszkaex{{ article.id }}" value="{{ article.blaszkaex }}" class="form-control">
                       </div>
                       <div class="form-group">
                           <label>Rodzaj:</label>
                           {#<input type="text" value="{{ article.rodzaj }}" class="form-control">#}
                           <select class="form-control" id="rodzaj{{ article.id }}">
                               <option>proszę wybrać</option>
                               <option value="PCV" {% if article.rodzaj == 'PCV' %}selected{% endif %}>PCV</option>
                               <option value="ALU" {% if article.rodzaj == 'ALU' %}selected{% endif %}>ALU</option>
                               <option value="DRE" {% if article.rodzaj == 'DRE' %}selected{% endif %}>DRE</option>
                           </select>
                       </div>
                       <div class="form-group">
                           <label>Strona wiercenia :</label>
                           {#<input type="text" value="{{ article.stronawiercenia }}" class="form-control">#}
                           <select class="form-control" id="stronawiercenia{{ article.id }}">
                               <option>proszę wybrać</option>
                               <option value="S" {% if article.stronawiercenia == 'S' %}selected{% endif %}>S</option>
                               <option value="O" {% if article.stronawiercenia == 'O' %}selected{% endif %}>O</option>
                           </select>
                       </div>
                       <div class="form-group">
                           <label>Stała szerokość:</label>
                           <input type="text" id="szerokosc{{ article.id }}" value="{{ article.stalaszer }}" class="form-control">
                       </div>
                       <div class="form-group">
                           <label>Stała wysokość:</label>
                           <input type="text" id="wysokosc{{ article.id }}" value="{{ article.stalawys }}" class="form-control">
                       </div>
                       <div id="uwaga{{ article.id }}" class="uwaga">
                       </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                        <button id="dane{{ article.id }}" type="button" class="btn btn-primary" onclick="dataOkna('{{ article.id }}', event)">Zapisz</button>
                      </div>
                    </div>
                  </div>
               </div>
               <!-- koniec modal -->
           </th>
           <th>{{ article.felc }}</th>
           <th>{{ article.oscieznica }}</th>
           <th>{{ article.skrzydlo }}
           </th>
           <th>{{ article.blaszka }}</th>
           <th>{{ article.blaszkaex }}</th>
           <th>{{ article.rodzaj }}</th>
           <th>{{ article.stronawiercenia }}</th>
           <th>{{ article.stalaszer }}</th>
           <th>{{ article.stalawys }}</th>
           <th><a href="{{ path('marcin_admin_zamokna_form', {'id': article.id}) }}" class="btn btn-primary">
                                                <span class="glyphicon glyphicon-edit"></span>
                                            </a>
                                                {% if is_granted('ROLE_MAGNUM') %}{% set tokenName = csrfProvider.generateCsrfToken(deleteTokenName|format(article.id)) %}
                                            {% set deleteUrl = path('marcin_admin_zamokna_delete', {'id': article.id, 'token': tokenName}) %}
                                        <a id="potwierdzenie" href="{{ deleteUrl }}" class="potwierdzenie btn btn-danger" data-confirmAction="">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </a>{% endif %}
               
           </th>
       </tr>
    {% endfor %}
        </table>
    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                            Wszystkich zamówień jest: {{ pagination.getTotalItemCount }}
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="dataTables_paginate">
                            {{ knp_pagination_render(pagination, 'MarcinAdminBundle:Pagination:admin_pagination.html.twig') }}
                        </div>
                    </div>
                </div>
            </div><!-- /.box-body -->
            
          </div>

</section>
        {% endblock %}
{% block javascripts %}
    {{parent()}}
    <script>
            var elems = document.getElementsByClassName('potwierdzenie');
    var confirmIt = function (e) {
        if (!confirm('Czy napewno usunąć?')) e.preventDefault();
    };
    for (var i = 0, l = elems.length; i < l; i++) {
        elems[i].addEventListener('click', confirmIt, false);
    }
        </script>
    <script type="text/javascript" src="{{ asset('bundles/marcinadmin/own/select/js/bootstrap-select.min.js') }}"></script>
    <script>
        
         function dataOkna(id, event) {
                                var okna = id;
                                var element = event.currentTarget;
                                var clicked = event.target;
                               // var nazwa = 'nrfaktury';
                                //var fakt = document.getElementById(nazwa.order_id);
                                //var nrfakturki = fakt.value;
                                var felc = $('#felc'+okna).val();
                                var oscieznica = $('#oscieznica'+okna).val();
                                var skrzydlo = $('#skrzydlo'+okna).val();
                                var blaszka = $('#blaszka'+okna).val();
                                var blaszkaex = $('#blaszkaex'+okna).val();
                                var rodzaj = $('#rodzaj'+okna).val();
                                var stronawiercenia = $('#stronawiercenia'+okna).val();
                                var szerokosc = $('#szerokosc'+okna).val();
                                var wysokosc = $('#wysokosc'+okna).val();
                                
                                if (felc == '' || oscieznica == '' || oscieznica == 'proszę wybrać' || skrzydlo == 'proszę wybrać' || skrzydlo == '' || rodzaj == 'proszę wybrać' || rodzaj == '' || stronawiercenia == 'proszę wybrać' || stronawiercenia == '' || szerokosc == '' || wysokosc == '')
                                {
                                    $("#uwaga"+okna).append('<div class="alert alert-danger" role="alert">Wszystkie pola oprócz blaszek są wymagane!</div>');
                                }
                                else {
                                
                                $('#bs-example-modal-lg'+okna).modal('hide');
                                var url = '{{ path('marcin_admin_zamokna_wykonano') }}';

                                $.ajax({
                                    url: url,
                                    data: {
                                        id: okna,
                                        felc: felc,
                                        oscieznica: oscieznica,
                                        skrzydlo: skrzydlo,
                                        blaszka: blaszka,
                                        blaszkaex: blaszkaex,
                                        rodzaj: rodzaj,
                                        stronawiercenia: stronawiercenia,
                                        szerokosc: szerokosc,
                                        wysokosc: wysokosc
                                    },
                                    method: 'POST',
                                    success: function (data) {
                                         //document.getElementById("gm-panel"+order_id).className = "widok-realizacja";
                                         
                                        // document.getElementById("ladowanie-realizacja").className = "overlay-none";
                                        /// document.getElementById("ladowanie-animacja-realizacja").className = ""; 
                                         //$('#danee'+okna).load(location.href + ' #danee'+okna);
                                        location.reload();
                                               console.log(stronawiercenia);
                                    }
                                });
                            }

                            }
        
    </script>
{% endblock %}

