{% extends 'MarcinAdminBundle::base.html.twig' %}
{% block stylesheets %}
{{parent()}}
{% endblock %}
{% block body %}
            <section class="content-header">
          <h1>
            Edycja
            <small>Edycja zamówienia</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Pulpit</a></li>
            <li class="active">tutaj</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
     {% include 'MarcinAdminBundle:Template:flashMsg.html.twig' %}
    {{ form_start(form, {'attr': {'novalidate': 'true'}}) }}
     {{ form_row(form.status) }}
     {{ form_row(form.user) }}
     {{ form_row(form.do_zaplaty) }}
     {{ form_row(form.zaplacono) }}
     {{ form_rest(form) }}
    {{ form_row(form.save) }} 
    {{ form_end(form) }}
    <a href="../../panel">Wstecz</a>   
</section>
        {% endblock %}
{% block javascripts %}
    {{parent()}}
{% endblock %}