{% extends 'MarcinAdminBundle::base.html.twig' %}
{% block body %}
     {% include 'MarcinAdminBundle:Template:flashMsg.html.twig' %}
    {{ form_start(form, {'attr': {'novalidate': 'true'}}) }}
     {{ form_row(form.status) }}
     {{ form_row(form.user) }}
     {{ form_row(form.do_zaplaty) }}
     {{ form_row(form.zaplacono) }}
     {{ form_rest(form) }}
    {{ form_row(form.save) }} 
    {{ form_end(form) }}
    <button onclick="goBack()">Wstecz</button>
{% endblock %}
{% block javascripts %}
<script>
function goBack() {
    window.history.back();
}
</script>
{% endblock %}