{% extends 'MarcinAdminBundle::base.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/marcinadmin/own/style.css') }}" />
   <link rel="stylesheet" type="text/css" href="{{ asset('bundles/marcinadmin/own/select/css/bootstrap-select.min.css') }}" />
{% endblock %}
{% block body %}
    <section class="content-header">
        <h1>
            Pulpit
            <small>zarządzania GM</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Pulpit</a></li>
            <li class="active">tutaj</li>
        </ol>
    </section>
    {% include 'MarcinAdminBundle:Template:flashMsg.html.twig' %}
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>{{ new_zam.count.all_new }}</h3>
                        <p>Nowych zamówień</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-primary">
                    <div class="inner">
                        <h3>{{ send_zam.count.all_send }}<!--<sup style="font-size: 20px">%</sup>--></h3>
                        <p>Przyjętych do realizacji</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>{{ new_user.count.user }}</h3>
                        <p>Nowych użytkowników</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>{{ new_many.count.all_many }}</h3>
                        <p>Oczekiwanie na zapłatę</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                </div>
            </div><!-- ./col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Łącznie do zapłaty:</span>
              <span class="info-box-number">{{ suma.count.all_suma }} zł</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        </div>
        <div class="box box-default color-palette-box">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-tag"></i> Zamówienia</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div style="overflow-x: auto;">
                        <table id="example2" class="table table-bordered table-hover dataTable" role="grid">
                            <thead>
                                <tr role="row">
                                    <th <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="id">{{ knp_pagination_sortable(pagination, 'Id', 's.id') }}</th>
                                    <th>Produkcja</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Jakie zamówienie">jakie_zam</th>
                                    <th>status</th>
                                    <th>send data</th>
                                    <th>nr-user-zam</th>
                                    <th>do zaplaty</th>
                                    <th>akcje</th>
                                    <th>zł</th>
                                </tr>
                            </thead>

                            {% for article in pagination  %}
                                <tr><th id="task-complete-{{ article.id }}">{{ article.id }}</th> 
                                    <th id="numerprodukcji{{ article.id }}">
                                        <div id="produkcja{{ article.id }}" onclick="changeProdukcjaText('{{ article.id }}', event)">
                                             <h4><span class="label label-info" onclick="changeProdukcjaText('{{ article.id }}', event)">
                                                     <i class="fa fa-exclamation-circle"></i> {{ article.nrprodukcji }} </span></h4>
                                        </div><div id="produkcja_edit{{ article.id }}" style="display:none;">
                                            <input class="form-control" id="" onchange="changeProdukcjaNr('{{ article.id }}', event)" type="text" value="{{ article.nrprodukcji }}">
                                            <button class="btn btn-success" onclick="changeButtonProdukcja('{{ article.id }}', event)"><span class="glyphicon glyphicon-ok"></span></button>
                                        </div>
                                    </th>
                                    <th>{{ article.jakie_zam }}</th>
                                    <th id="zmiana-status-{{ article.id }}">
                                        <select name="status_select" class="selectpicker"{% if article.status == 'wersja robocza' %} data-style="btn-info" {% elseif article.status == 'przesłane do realizacji' %} data-style="btn-warning" {% elseif article.status == 'oczekiwanie na zapłatę' %} data-style="btn-danger" {% elseif article.status == 'w realizacji' %} data-style="btn-primary" {% elseif article.status == 'wyprodukowane' %} data-style="btn-primary" {% else %} data-style="btn-success" {% endif %} id="{{ path('marcin_admin_dashboard_update', {'id': article.id }) }}" onchange="changeOrderStatus('{{ article.id }}', '{{ article.user }}', event)">
                                            <option value="wersja robocza"{% if article.status == 'wersja robocza' %} selected="selected" {% endif %}>wersja robocza</option>
                                            <option value="przesłane do realizacji"{% if article.status == 'przesłane do realizacji' %} selected="selected" {% endif %}>przesłane do realizacji</option>
                                            <option value="oczekiwanie na zapłatę"{% if article.status == 'oczekiwanie na zapłatę' %} selected="selected" {% endif %}>oczekiwanie na zapłatę</option>
                                            <option value="w realizacji"{% if article.status == 'w realizacji' %} selected="selected" {% endif %}>w realizacji</option>
                                            <option value="wyprodukowane"{% if article.status == 'wyprodukowane' %} selected="selected" {% endif %}>wyprodukowane</option>
                                            <option value="zrealizowane/odebrane"{% if article.status == 'zrealizowane/odebrane' %} selected="selected" {% endif %}>zrealizowane/odebrane</option></select>
                                        {#<h4>{% if article.status == 'wersja robocza' %}<span class="label label-danger">{{ article.status }}</span> {% elseif article.status == 'przesłane do realizacji' %} <span class="label label-info">{{ article.status }}</span> {% elseif article.status == 'w realizacji' %} <span class="label label-success">{{ article.status }}</span> {% elseif article.status == 'przyjęte do realizacji' %} <span class="label label-success">{{ article.status }}</span> {% else %} <span class="label label-primary">{{ article.status }}</span>{% endif %}</h4>#}</th>
                                    <th>{% if article.status == 'wersja robocza' %} - {% else %}{{ article.sendDate | date('Y-m-d') }}{% endif %}</th>
                                    <th>{{ article.nr_user_zam  }}</th>
                                    <th id="wynik{{ article.id }}"><div class="btn-group">{% if article.zaplacono == '0' %} <h4>{% if article.dozaplaty == '0' %}<div id="dozaplaty{{ article.id }}" onclick="changeOrderText('{{ article.id }}', event)"><span class="label label-warning" onclick="changeOrderText('{{ article.id }}', event)"><i class="fa fa-exclamation-circle"></i> do wyceny </span></div><div id="dozaplaty_edit{{ article.id }}" style="display:none;"><input class="form-control" id="" onchange="changeOrderPrice('{{ article.id }}', '{{ article.user }}', event)" type="text" value=""><button class="btn btn-success" onclick="changeButton('{{ article.id }}', event)"><span class="glyphicon glyphicon-ok"></span></button></div>{% else %}<div id="dozaplaty{{ article.id }}" onclick="changeOrderText('{{ article.id }}', event)"><span class="label label-danger" onclick="changeOrderText('{{ article.id }}', event)">{{ article.dozaplaty  }} zł</span></div><div id="dozaplaty_edit{{ article.id }}" style="display:none;"><input class="form-control" id="" onchange="changeOrderPrice('{{ article.id }}', '{{ article.user }}', event)" type="text" value="{{ article.dozaplaty }}"><button class="btn btn-success" onclick="changeButton('{{ article.id }}', event)"><span class="glyphicon glyphicon-ok"></span></button></div>{% endif %}</h4> {% else %} <h4><span class="label label-success">zapłacono</span></h4> {% endif %}</div></th>
                                    <th id="wynik_b{{ article.id }}">
                                        <div class="btn-group">
                                            <a href="{{ path('marcin_admin_dashboard_form', {'id': article.id}) }}" class="btn btn-primary">
                                                <span class="glyphicon glyphicon-edit"></span>
                                            </a>
                                            <a  href="https://grupamagnum.eu/zamowienia/zamowienia/{{ article.nr_user_zam  }}.pdf" target="_blank" class="ajax-task-complete btn btn-primary">
                                                <span class="glyphicon glyphicon-print"></span>
                                            </a>
                                        </div> {% set tokenName = csrfProvider.generateCsrfToken(deleteTokenName|format(article.id)) %}
                                            {% set deleteUrl = path('marcin_admin_dashboard_delete', {'id': article.id, 'token': tokenName}) %}
                                        <a href="{{ deleteUrl }}" class="btn btn-danger" data-confirmAction="">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </a></th>
                                        <th><div class="checkbox checkbox-success">
                                                <input style="flat-red" id="spr" type="checkbox" value="{{ article.zaplacono }}" onclick="changeOrderPay('{{ article.id }}', event)" {% if article.zaplacono == '1' %}checked {% endif %} /><label for="checkbox1">
    </label></div></th>
                                    </tr>
                                    {% endfor %}
                                    </table>
                        </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                                        Wszystkich zamówień jest: {{ pagination.getTotalItemCount }}
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="dataTables_paginate">
                                        {{ knp_pagination_render(pagination, 'MarcinAdminBundle:Pagination:admin_pagination.html.twig') }}
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.box-body -->

                    </div>

                </section>
                {% endblock %}
                    {% block javascripts %}
                        {{parent()}}
                        <script type="text/javascript">

                            function changeOrderStatus(id, user, event) {
                                var order_id = id;
                                var username = user;
                                var element = event.currentTarget;
                                var clicked = event.target;
                                var status = $(element).val();
                                var url = '{{ path('marcin_admin_dashboard_update') }}';

                                $.ajax({
                                    url: url,
                                    data: {
                                        id: order_id,
                                        status: status,
                                        login: username
                                    },
                                    method: 'POST',
                                    success: function (data) {
                                                console.log(username);
                                    }
                                });

                            }
                            function changeOrderPay(id, event) {
                                var order_id = id;
                                var element = event.currentTarget;
                                var clicked = event.target;
                                
                                if($(element).is(":checked")) {
             console.log('zaznaczono!');
             var zaplacono = 1;
        } else {
             console.log('odznaczono!');
             var zaplacono = 0;
        }
                                var url = '{{ path('marcin_admin_dashboard_update') }}';

                                $.ajax({
                                    url: url,
                                    data: {
                                        id: order_id,
                                        zaplacono: zaplacono
                                    },
                                    method: 'POST',
                                    success: function (data) {
                                                $('#wynik'+order_id).load(document.URL + ' #wynik'+order_id);
                                                
                                    }
                                });

                            }
                            function changeOrderText(id, event) {
                                 var order_id = id;
                                  if($('#dozaplaty'+order_id).css('display')!='none'){
                                       $('#dozaplaty_edit'+order_id).html($('#dozaplaty_edit'+order_id).html()).show().siblings('div').hide();
                                  }
                            }
                            function changeOrderPrice(id, user, event) {
                                var order_id = id;
                                var username = user;
                                var element = event.currentTarget;
                                var clicked = event.target;
                                var price = parseFloat($(element).val().replace(',', '.'));
                                var num = price.toFixed(2);
                                //parseFloat($("#fullcost").text().replace(',', '.'));
                               // num = num.replace(",", ".");
                                var url = '{{ path('marcin_admin_dashboard_update') }}';
                                
                                if(!isNaN(num))
                                {
                                $.ajax({
                                    url: url,
                                    data: {
                                        id: order_id,
                                        price: num,
                                        login: username
                                    },
                                    method: 'POST',
                                    success: function (data) {
                                                console.log(num);
                                    }
                                });
                            }

                            }
                            function changeButton(id, event) {
                                var button_id = id;
                                $('#wynik'+button_id).load(document.URL + ' #wynik'+button_id);
                            }
                            
                            function changeProdukcjaText(id, event) {
                                 var order_id = id;
                                  if($('#produkcja'+order_id).css('display')!='none'){
                                       $('#produkcja_edit'+order_id).html($('#produkcja_edit'+order_id).html()).show().siblings('div').hide();
                                  }
                            }
                            function changeProdukcjaNr(id, event) {
                                var order_id = id;
                                var element = event.currentTarget;
                                var clicked = event.target;
                                var produkcja = $(element).val();
                                var url = '{{ path('marcin_admin_dashboard_update') }}';

                                $.ajax({
                                    url: url,
                                    data: {
                                        id: order_id,
                                        produkcja: produkcja
                                    },
                                    method: 'POST',
                                    success: function (data) {
                                               
                                    }
                                });

                            }
                            function changeButtonProdukcja(id, event) {
                                var button_id = id;
                                $('#numerprodukcji'+button_id).load(document.URL + ' #numerprodukcji'+button_id);
                            }
                            {#      $(function(){
                                       $('.ajax-task-complete').on({
                                           click: function(e) {
                                               e.preventDefault();
                                               var $href = $(this).attr('href');
                    
                                               $('<div></div>').load($href+' form', function(){
                                                   var $form = $(this).children('form');
                                                   var $cb = $form.find('input[type="checkbox"]');
                        
                                                   $cb.prop('checked', !$cb.prop('checked'));
                        
                                                   var $cb1 = $form.find('select[name*="status_select"]');
                        
                                                   $cb1.prop('selected', !$cb1.prop('selected'));
                        
                                                   var $url = $form.attr('action');
                                                   var $data = $form.serialize();
                        
                                                   $.ajax({
                                                       url: $url,
                                                       data: $data,
                                                       method: 'post',
                                                       dataType: 'json',
                                                       cache: false,
                                                       success: function(obj) {
                                                           var $tic = $('#task-complete-'+obj.id+' .ajax-task-complete');
                                                           if(obj.complete){
                                                               //$tic.text('X');
                                    
                                                           }
                                                           else {
                                                               //$tic.text('0');
                                                           $('#wynik'+obj.id).load(document.URL + ' #wynik'+obj.id);
                                                           $('#wynik_b'+obj.id).load(document.URL + ' #wynik_b'+obj.id);
                                                           }
                                                       },
                                                       complete: function() {
                                                           console.log('complete!');

                                                       },
                                                       error: function(err) {
                                                           console.log(err);
                                                       }
                                                   });
                                               });
                                           }
                                       });
            
            
                                       $('.status_select').on({
                                           change: function(e) {
                
                                     //  $('select[name*="status_select"]').prop('selected', true).change(function(e){
                                               e.preventDefault();
                                               var $href = $(this).attr('id');
                   
                    
                                               $('<div></div>').load($href+' form', function(){
                                                   //var $form = $(this).children('form');
                                                   var $form = $(this).closest('form');
                                                   var $cb = $form.find('select[name*="status_select"]');
                        
                                                   $cb.prop('selected');
                        
                                                   var $url = $form.attr('action');
                                                   var $data = $form.serialize();
                        
                                                   $.ajax({
                                                       url: $url,
                                                       data: $data,
                                                       method: 'POST',
                                                       dataType: 'json',
                                                       cache: false,
                                                       success: function(obj) {
                                                           var $tic = $('#task-complete-'+obj.id+' .status_select');
                                                           if(obj.complete){
                                                               //$tic.text('X');
                                    
                                                           }
                                                           else {
                                                               //$tic.text('0');
                                                           $('#wynik'+obj.id).load(document.URL + ' #wynik'+obj.id);
                                                           $('#wynik_b'+obj.id).load(document.URL + ' #wynik_b'+obj.id);
                                                           }
                                                       },
                                                       complete: function() {
                                                           console.log('complete!');

                                                       },
                                                       error: function(err) {
                                                           console.log(err);
                                                       }
                                                   });
                                               });
                                           }
                                       });
                                       });
#}
                        </script>
        <script type="text/javascript" src="{{ asset('bundles/marcinadmin/own/select/js/bootstrap-select.min.js') }}"></script>
                    {% endblock %}

