{% extends 'MarcinAdminBundle::base.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/marcinadmin/own/style.css') }}" />
   <link rel="stylesheet" type="text/css" href="{{ asset('bundles/marcinadmin/own/select/css/bootstrap-select.min.css') }}" />
   <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
   <style>
         #ladowanie h3 {
    width: 300px;
    right: 36px;
    top: 36px;
    cursor: auto;
    position: fixed;
    z-index: 100040;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    text-align: center;
    height: 70px;
    padding-top: 15px;
         }
         @media print
            {
		
        a[href]:after {
            content: none !important;
            }
	
        }
        .widok-realizacja
        {
            visibility: hidden;
        }
       </style>
{% endblock %}
{% block body %}
    <section class="content-header">
        <h1>
            Pulpit
            <small>zarządzania GM</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Pulpit</a></li>
            <li class="active">tutaj</li>
        </ol>
    </section>
    {% include 'MarcinAdminBundle:Template:flashMsg.html.twig' %}
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>{{ new_zam.count.all_new }}</h3>
                        <p>Nowych zamówień</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-primary">
                    <div class="inner">
                        <h3>{{ send_zam.count.all_send }} / {{ suma_wyprodukowane.count.all_wyprodukowane }}<!--<sup style="font-size: 20px">%</sup>--></h3>
                        <p>Przyjętych do realizacji / wyprodukowane</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                </div>
            </div><!-- ./col -->
            {% if is_granted('ROLE_MAGNUM') %}
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>{{ new_user.count.user }}</h3>
                        <p>Nowych użytkowników</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                </div>
            </div><!-- ./col -->
            <a href="{{ path('marcin_admin_dashboard', {'status': 'dozaplaty'}) }}">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>{{ new_many.count.all_many }} / {{ zrelmany.count.all_zrelmany }}</h3>
                        <p>Pozycje zrealizowane / zakończone nieopłacone:</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                </div>
            </div><!-- ./col --></a>
            <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Łącznie do zapłaty:</span>
              <span class="info-box-number">{{ suma.count.all_suma }} zł</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-money"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Suma zakończonych nieopłaconych:</span>
              <span class="info-box-number">{{ zrelsuma.count.all_zrelsuma }} zł</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>{% endif %}
        </div>
        <div class="box box-default color-palette-box">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-tag"></i> Zamówienia</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12">
                        <form action="{{ path('marcin_admin_dashboard', {'trasy': currTrasy,'status': currStatus}) }}" method="get" class="form-inline filter-search padding-top-15 padding-bottom-15" role="form">
                                                {% for key,val in statusesList %}
                    <div class="col-xs-12 col-md-2 col-lg-2 padding-bottom-15">
                        <a class="btn btn-block {{ currStatus == val ? 'btn-default':'btn-primary' }}" href="{{ path('marcin_admin_dashboard', {'trasy': currTrasy, 'status': val}) }}">
                            {{ key }} ({{ statistics[val] }})
                        </a>
                    </div>
                    {% endfor %}
                     <div class="col-xs-6 col-md-2 col-lg-1 padding-bottom-15">
                        <div class="form-group limit">
                               <select name="limit" class="form-control select-block input-md" id="limit" placeholder="Pokaż" onchange="this.form.submit()">
                                   {% for limit in limits %}
                                       <option {{ currLimit == limit ? 'selected="selected"':'' }} value="{{ limit }}">
                                           {{ limit }}
                                       </option>
                                   {% endfor %}
                               </select>
                       </div>
                    </div>
                    <div class="col-xs-6 col-md-2 col-lg-1 padding-bottom-15">
                        <div class="form-group limit">
                               <select class="form-control select-block input-md" placeholder="Pokaż" id="trasy">
                                   {% for trasy, trasa in trasyList %}
                                       <option {{ currTrasy == trasa ? 'selected="selected"':'' }} value="{{ path('marcin_admin_dashboard', {'trasy': trasa, 'status': currStatus}) }}">
                                            {{ trasy }}
                                       </option>
                                   {% endfor %}
                               </select>
                       </div>
                    </div>


                               <div class="clearfix"></div>
                            <div class="col-xs-12 col-md-2 col-lg-3 padding-bottom-15 pull-right">
                                <div class="input-group" style="width: 100%;">
                                  <input type="text" name="userLike" class="form-control input-md" placeholder="Wyszukaj po nr-user, nr-prod i nr fakt" value="{{ queryParams['userLike'] }}">
                                  <div class="input-group-btn">
                                    <button class="btn btn-md btn-block btn-default"><i class="fa fa-search"></i></button>
                                  </div>
                                </div>
                            </div>


                   
                               <div class="clearfix"></div>
                        </form>
                                  <div class="box">
                        <div style="overflow-x: auto;">
                        <table id="example2" class="table table-bordered table-hover dataTable" role="grid">
                            <thead>
                                <tr role="row">
                                    <th <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="id">{{ knp_pagination_sortable(pagination, 'Id', 's.id') }}</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Jakie zamówienie">jakie_zam</th>
                                    <th>send data</th>
                                    <th>nr-user-zam</th>
                                     {% if is_granted('ROLE_MAGNUM') %}
                                        {% if currStatus == 'zrealizowane' or currStatus == 'all' %}
                                            <th>fakt</th>
                                        {% endif %}
                                     {% endif %}
                                {% if currStatus == 'realizacja' %}<th>wyprodukowane</th>{% endif %}
                                    <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="id">{{ knp_pagination_sortable(pagination, 'Produkcja', 's.nrprodukcji') }}</th>
                                   {% if currStatus == 'realizacja' %}{% elseif currStatus == 'przeslane' %}{% else %}<th>status</th>{% endif %}
                                    {% if is_granted('ROLE_MAGNUM') %}<th>do zaplaty</th>{% endif %}
                                    {% if currStatus == 'przeslane' %}<th>realizacja</th>{% endif %}
                                    <th>akcje</th>
                                    {% if is_granted('ROLE_MAGNUM') %}<th>zł</th>{% endif %}
                                </tr>
                            </thead>
                            <tbody>
                            {% for article in pagination  %}
                                <tr id="gm-panel{{ article.id }}" {% if article.zaplacono == '0' %}{% if article.dozaplaty == '0' %}class="warning"{% endif %}{% endif %}><th id="task-complete-{{ article.id }}">{{ article.id }}</th> 
                                    <th>{% if article.jakie_zam == 'zamówienie moskitier' %} <font color="red" size="4">M</font> {% elseif article.jakie_zam == 'zamówienie moskitier drzwiowych' %} <font color="red" size="4">MD</font> {% elseif article.jakie_zam == 'zamówienie moskitier rolowanych' %} <font color="red" size="4">MR</font> {% elseif article.jakie_zam == 'zgłoszenie do odbioru' %} <font color="red" size="4">ZO</font> {% elseif article.jakie_zam == 'zamówienie elementów luzem' %} <font color="red" size="4">EL</font> {% elseif article.jakie_zam == 'wydanie zewnętrzne' %} <font color="red" size="4">WZ</font>{% else %} <font color="red" size="4">R</font> {# {{ article.jakie_zam }}#}{% endif %}<div class="modal fade {{ article.id }}" id="{{ article.id }}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel{{ article.id }}">
                                              <div class="modal-dialog modal-lg" role="document">                  
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="myModalLabel">{{ article.jakie_zam }}</h4>
                                                      </div>
                                                      <div class="modal-body">                                                                                                                                                                                                                                                                                    
                                                    <table class="table table-bordered table-hover dataTable" role="grid">
                                                        <thead>
                                                        <tr>
                                                            <th>Typ</th>
                                                            <th>Kolor</th>
                                                            <th>Szer a</th>
                                                            <th>Wys h</th>
                                                        </tr>
                                                        </thead>
                                                        {% set ilosc = 0 %}
                                                       {% for prod in produkty if prod.idzam == article.id %}
                                                           {% set ilosc = ilosc + 1 %}
                                                        <tr>
                                                            <th>{{ prod.typ }}</th>
                                                            <th>{{ prod.kolor }}</th>
                                                            <th>{{ prod.szer }}</th>
                                                            <th>{{ prod.wysokosc }}</th>
                                                        </tr>
                                                        {% endfor %}
                                                    </table>
                                                     </div>
                                                  <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>                                                                                                                                                                                                         
                                                </div>
                                              </div>
                                              </div>
                                        </div><font size="4">/ <a href="#" type="button" data-toggle="modal" data-target="#{{ article.id }}">{{ ilosc }}</a></font>
                                        </th>
                                    <th>{% if article.status == 'wersja robocza' %} - {% else %}{{ article.sendDate | date('Y-m-d') }}{% endif %}</th>
                                    <th>{{ article.nr_user_zam  }}</th>
                                    {% if is_granted('ROLE_MAGNUM') %}
                                        {% if currStatus == 'zrealizowane' or currStatus == 'all' %}
                                            <th id="ffakt{{ article.id }}"><center>{% if article.nr_fakt == "" %}
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#fakt{{ article.id }}"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                                <div class="modal fade" id="fakt{{ article.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">                                                                                                  
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                <h4 class="modal-title">ID zamówienia: {{ article.id }}</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" id="basic-addon1">Nr fakt:</span>
                                                                    <input type="text" id="nrfaktury{{ article.id }}" class="form-control" placeholder="proszę wpisać nr fakt..." aria-describedby="basic-addon1">
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                                                                <button id="add{{ article.id }}" type="button" class="btn btn-primary" onclick="addFakt('{{ article.id }}', event)">Zapisz</button>
                                                            </div>
                                                        </div><!-- /.modal-content -->
                                                    </div><!-- /.modal-dialog -->
                                                </div><!-- /.modal -->
                                            {% else %}
                                                <a href="" data-toggle="modal" data-target="#fakte{{ article.id }}"><h4>{{ article.nr_fakt }}</h4></a>
                                                <div class="modal fade" id="fakte{{ article.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                <h4 class="modal-title">ID zamówienia: {{ article.id }}</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" id="basic-addon1">Nr fakt:</span>
                                                                    <input type="text" id="nrfakturye{{ article.id }}" class="form-control" value="{{ article.nr_fakt }}" placeholder="proszę wpisać nr fakt..." aria-describedby="basic-addon1">
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                                                                <button type="button" onclick="editFakt('{{ article.id }}', event)" class="btn btn-primary">Zapisz</button>
                                                            </div>
                                                        </div><!-- /.modal-content -->
                                                    </div><!-- /.modal-dialog -->
                                                </div><!-- /.modal -->
                                                {% endif %}
                                </center></th>
                                        {% endif %}
                                     {% endif %}
                                    {% if currStatus == 'realizacja' %}
                                        {#<div class="checkbox checkbox-success">
                                            <center> <input style="flat-red" id="wykonano" type="checkbox" value="{{ article.status }}" onclick="changeWykonano('{{ article.id }}', event)" /><label for="checkbox2">
                                                </label></center></div>#}
                                        <th id="produkcjaa{{ article.id }}">
                                <center><button type="button" class="btn btn-success" onclick="changeButtonProdukcjaa('{{ article.id }}', event)"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button></center>
                                        </th>
                                    {% else %}
                                    {% endif %}
                                    <th id="numerprodukcji{{ article.id }}">
                                        <div id="produkcja{{ article.id }}" onclick="changeProdukcjaText('{{ article.id }}', event)">
                                             <h4><span onclick="changeProdukcjaText('{{ article.id }}', event)">
                                                     <i class="fa fa-exclamation-circle"></i><font color="black"> {{ article.nrprodukcji }} </font></span></h4>
                                        </div><div id="produkcja_edit{{ article.id }}" style="display:none;">
                                            <div class="form-inline"><div class="input-group"><input class="form-control" id="" onchange="changeProdukcjaNr('{{ article.id }}', event)" type="text" value="{{ article.nrprodukcji }}"></div>
                                            <button class="btn btn-success" onclick="changeButtonProdukcja('{{ article.id }}', event)"><span class="glyphicon glyphicon-ok"></span></button>
                                            </div></div>
                                    </th>
                                        {% if currStatus == 'realizacja' %}{% elseif currStatus == 'przeslane' %}{% else %}<th id="zmiana-status-{{ article.id }}">
                                        <select name="status_select" data-container="body" class="selectpicker"{% if article.status == 'wersja robocza' %} data-style="btn-info" {% elseif article.status == 'przesłane do realizacji' %} data-style="btn-warning" {% elseif article.status == 'oczekiwanie na zapłatę' %} data-style="btn-danger" {% elseif article.status == 'anulowane' %} data-style="btn-danger" {% elseif article.status == 'w realizacji' %} data-style="btn-primary" {% elseif article.status == 'wyprodukowane' %} data-style="btn-primary" {% elseif article.status == 'przyjęte' %} data-style="btn-primary" {% elseif article.status == 'w dostawie' %} data-style="btn-danger" {% elseif article.status == 'gotowe do odbioru/montażu' %} data-style="btn-danger" {% elseif article.status == 'wysłane' %} data-style="btn-danger" {% else %} data-style="btn-success" {% endif %} id="{{ path('marcin_admin_dashboard_update', {'id': article.id }) }}" onchange="changeOrderStatus('{{ article.id }}', '{{ article.user }}', event)">
                                            <option value="wersja robocza"{% if article.status == 'wersja robocza' %} selected="selected" {% endif %}>wersja robocza</option>
                                            <option value="anulowane"{% if article.status == 'anulowane' %} selected="selected" {% endif %}>anulowane</option>
                                            <option value="przesłane do realizacji"{% if article.status == 'przesłane do realizacji' %} selected="selected" {% endif %}>przesłane do realizacji</option>
                                            <option value="oczekiwanie na zapłatę"{% if article.status == 'oczekiwanie na zapłatę' %} selected="selected" {% endif %}>oczekiwanie na zapłatę</option>
                                            <option value="w realizacji"{% if article.status == 'w realizacji' %} selected="selected" {% endif %}>w realizacji</option>
                                            <option value="przyjęte"{% if article.status == 'przyjęte' %} selected="selected" {% endif %}>przyjęte</option>
                                            <option value="wyprodukowane"{% if article.status == 'wyprodukowane' %} selected="selected" {% endif %}>wyprodukowane</option>
                                            <option value="w dostawie"{% if article.status == 'w dostawie' %} selected="selected" {% endif %}>w dostawie</option>
                                            <option value="gotowe do odbioru/montażu"{% if article.status == 'gotowe do odbioru/montażu' %} selected="selected" {% endif %}>gotowe do odbioru/montażu</option>
                                            <option value="wysłane"{% if article.status == 'wysłane' %} selected="selected" {% endif %}>wysłane</option>
                                            <option value="zrealizowane/odebrane"{% if article.status == 'zrealizowane/odebrane' %} selected="selected" {% endif %}>zrealizowane/odebrane</option></select>
                                        {#<h4>{% if article.status == 'wersja robocza' %}<span class="label label-danger">{{ article.status }}</span> {% elseif article.status == 'przesłane do realizacji' %} <span class="label label-info">{{ article.status }}</span> {% elseif article.status == 'w realizacji' %} <span class="label label-success">{{ article.status }}</span> {% elseif article.status == 'przyjęte do realizacji' %} <span class="label label-success">{{ article.status }}</span> {% else %} <span class="label label-primary">{{ article.status }}</span>{% endif %}</h4>#}</th>{% endif %}
                                    {% if is_granted('ROLE_MAGNUM') %}<th id="wynik{{ article.id }}"><div class="btn-group">{% if article.zaplacono == '0' %} <h4>{% if article.dozaplaty == '0' %}<div id="dozaplaty{{ article.id }}" onclick="changeOrderText('{{ article.id }}', event)"><span class="label label-warning" onclick="changeOrderText('{{ article.id }}', event)"><i class="fa fa-exclamation-circle"></i> do wyceny </span></div><div id="dozaplaty_edit{{ article.id }}" style="display:none;"> <div class="form-inline"><div class="input-group"><input class="form-control" id="" onchange="changeOrderPrice('{{ article.id }}', '{{ article.user }}', event)" type="text" value=""></div><button class="btn btn-success" onclick="changeButton('{{ article.id }}', event)"><span class="glyphicon glyphicon-ok"></span></button></div></div>{% else %}<div id="dozaplaty{{ article.id }}" onclick="changeOrderText('{{ article.id }}', event)"><span class="label label-danger" onclick="changeOrderText('{{ article.id }}', event)">{{ article.dozaplaty  }} zł</span></div><div id="dozaplaty_edit{{ article.id }}" style="display:none;"><div class="form-inline"><div class="input-group"><input class="form-control" id="" onchange="changeOrderPrice('{{ article.id }}', '{{ article.user }}', event)" type="text" value="{{ article.dozaplaty }}"></div><button class="btn btn-success" onclick="changeButton('{{ article.id }}', event)"><span class="glyphicon glyphicon-ok"></span></button></div></div>{% endif %}</h4> {% else %} <h4><span class="label label-success">zapłacono</span></h4> {% endif %}</div></th>
                                     {% endif %}{% if currStatus == 'przeslane' %}
                                        <th id="realizacja{{ article.id }}">
                                            <button type="button" class="btn btn-success" onclick="changeButtonRealizacja('{{ article.id }}', event)"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button> <button type="button" id="potwierdzenie-realizacja" class="potwierdzenie-realizacja btn btn-danger" onclick="changeButtonRealizacjadel('{{ article.id }}', event)"><i class="fa fa-ban" aria-hidden="true"></i></button>
                                        </th>
                                    {% endif %}
                                    <th id="wynik_b{{ article.id }}">
                                        {% if is_granted('ROLE_MAGNUM') %}<div class="btn-group">
                                            <a href="{{ path('marcin_admin_dashboard_form', {'id': article.id}) }}" class="btn btn-primary">
                                                <span class="glyphicon glyphicon-edit"></span>
                                            </a>{% endif %}
                                            <a  href="https://grupamagnum.eu/zamowienia/zamowienia/{{ article.nr_user_zam  }}.pdf" target="_blank" class="ajax-task-complete btn btn-primary">
                                                <span class="glyphicon glyphicon-print"></span>
                                            </a>
                                              {% if is_granted('ROLE_MAGNUM') %}  {% if article.zakonczone == "1" %}
                                            <button type="button" class="btn btn-default" onclick="changeLock('{{ article.id }}', 'lock', event)">
                                                <i class="fa fa-lock" aria-hidden="true"></i>
                                            </button>
                                            {% else %}
                                            <button type="button" class="btn btn-default" onclick="changeLock('{{ article.id }}', 'unlock', event)">
                                                <i class="fa fa-unlock" aria-hidden="true"></i>
                                            </button>
                                            {% endif %}
                                        </div> {% if is_granted('ROLE_ADMIN') %}{% set tokenName = csrfProvider.generateCsrfToken(deleteTokenName|format(article.id)) %}
                                            {% set deleteUrl = path('marcin_admin_dashboard_delete', {'id': article.id, 'token': tokenName}) %}
                                        <a id="potwierdzenie" href="{{ deleteUrl }}" class="potwierdzenie btn btn-danger" data-confirmAction="">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </a>{% endif %}{% endif %}</th>{% if is_granted('ROLE_MAGNUM') %}
                                        <th><div class="checkbox checkbox-success">
                                                <input style="flat-red" id="spr" type="checkbox" value="{{ article.zaplacono }}" onclick="changeOrderPay('{{ article.id }}', event)" {% if article.zaplacono == '1' %}checked {% endif %} /><label for="checkbox1">
    </label></div></th>{% endif %}
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                    </table>

                                        </div>
                                                                                                                                                         <div id="ladowanie-realizacja" class="overlay-none">
              <i id="ladowanie-animacja-realizacja" class="none"></i>
            </div>
                        </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                                        Wszystkich zamówień jest: {{ pagination.getTotalItemCount }} 
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="dataTables_paginate">
                                        {{ knp_pagination_render(pagination, 'MarcinAdminBundle:Pagination:admin_pagination.html.twig') }}
                                    </div>
                                </div>
                            </div>
                                                    {% if is_granted('ROLE_MAGNUM') %}
                                                        <br> <div class="row">
                                <div class="col-md-12">
                                    <div id="myfirstchart" style="height: 350px;"></div>
                                </div>
                            </div>
                {% endif %}
                        </div><!-- /.box-body -->

                    </div>

                </section>
                                    <div id="ladowanie"></div>      
                {% endblock %}
                    {% block javascripts %}
                        {{parent()}}
                        <script type="text/javascript">

                            function changeOrderStatus(id, user, event) {
                                var order_id = id;
                                var username = user;
                                var element = event.currentTarget;
                                var clicked = event.target;
                                var status = $(element).val();
                                var url = '{{ path('marcin_admin_dashboard_update') }}';

                                $.ajax({
                                    url: url,
                                    data: {
                                        id: order_id,
                                        status: status,
                                        login: username
                                    },
                                    method: 'POST',
                                    success: function (data) {
                                                console.log(username);
                                    }
                                });

                            }
                            function changeOrderPay(id, event) {
                                var order_id = id;
                                var element = event.currentTarget;
                                var clicked = event.target;
                                
                                if($(element).is(":checked")) {
             console.log('zaznaczono!');
             var zaplacono = 1;
        } else {
             console.log('odznaczono!');
             var zaplacono = 0;
        }
                                var url = '{{ path('marcin_admin_dashboard_update') }}';

                                $.ajax({
                                    url: url,
                                    data: {
                                        id: order_id,
                                        zaplacono: zaplacono
                                    },
                                    method: 'POST',
                                    success: function (data) {
                                                $('#wynik'+order_id).load(document.URL + ' #wynik'+order_id);
                                                
                                    }
                                });

                            }
                            {# function changeWykonano(id, event) {
                                var order_id = id;
                                var element = event.currentTarget;
                                var clicked = event.target;
                                
                                if($(element).is(":checked")) {
             console.log('zaznaczono!');
             var zaplacono = 1;
        } else {
             console.log('odznaczono!');
             var zaplacono = 0;
        }
                                var url = '{{ path('marcin_admin_dashboard_update_wykonano') }}';

                                $.ajax({
                                    url: url,
                                    data: {
                                        id: order_id,
                                        wykonano: zaplacono
                                    },
                                    method: 'POST',
                                    success: function (data) {
                                              //  $('#wynik'+order_id).load(document.URL + ' #wynik'+order_id);
                                                
                                    }
                                });

                            }#}
                            
                            function changeOrderText(id, event) {
                                 var order_id = id;
                                  if($('#dozaplaty'+order_id).css('display')!='none'){
                                       $('#dozaplaty_edit'+order_id).html($('#dozaplaty_edit'+order_id).html()).show().siblings('div').hide();
                                  }
                            }
                            function changeOrderPrice(id, user, event) {
                                var order_id = id;
                                var username = user;
                                var element = event.currentTarget;
                                var clicked = event.target;
                                var price = parseFloat($(element).val().replace(',', '.'));
                                var num = price.toFixed(2);
                                //parseFloat($("#fullcost").text().replace(',', '.'));
                               // num = num.replace(",", ".");
                                var url = '{{ path('marcin_admin_dashboard_update') }}';
                                
                                if(!isNaN(num))
                                {
                                $.ajax({
                                    url: url,
                                    data: {
                                        id: order_id,
                                        price: num,
                                        login: username
                                    },
                                    method: 'POST',
                                    success: function (data) {
                                                console.log(num);
                                    }
                                });
                            }

                            }
                            function changeButton(id, event) {
                                var button_id = id;
                                $('#wynik'+button_id).load(document.URL + ' #wynik'+button_id);
                            }
                            
                            function changeProdukcjaText(id, event) {
                                 var order_id = id;
                                  if($('#produkcja'+order_id).css('display')!='none'){
                                       $('#produkcja_edit'+order_id).html($('#produkcja_edit'+order_id).html()).show().siblings('div').hide();
                                  }
                            }
                            function changeProdukcjaNr(id, event) {
                                var order_id = id;
                                var element = event.currentTarget;
                                var clicked = event.target;
                                var produkcja = $(element).val();
                                var url = '{{ path('marcin_admin_dashboard_update') }}';

                                $.ajax({
                                    url: url,
                                    data: {
                                        id: order_id,
                                        produkcja: produkcja
                                    },
                                    method: 'POST',
                                    success: function (data) {
                                               
                                    }
                                });

                            }
                            function changeButtonProdukcja(id, event) {
                                var button_id = id;
                                //var para = document.createElement("P");
                                // var t = document.createTextNode("ładowanie...");
                                //para.appendChild(t);
                                
                               // document.getElementById("ladowanie").appendChild(para);
                                var c = $('<h3>ładowanie...</h3>');
                                $('#ladowanie').append(c);
                               // $( document ).ready(function() {
                               var docLoaded = setInterval(function () {
                                if(document.readyState !== "complete") return;
                                clearInterval(docLoaded);
                                    $('#ladowanie').fadeOut("slow");
                                    $('#numerprodukcji'+button_id).load(document.URL + ' #numerprodukcji'+button_id);
                                }, 100);
                                //});
                            }
                            function changeButtonRealizacja(id, event) {
                                var button_id = id;

                                document.getElementById("ladowanie-realizacja").className = "overlay";
                                document.getElementById("ladowanie-animacja-realizacja").className = "fa fa-refresh fa-spin";
                                
                                //var element = event.currentTarget;
                                //var clicked = event.target;
                                //var produkcja = $(element).val();
                                var url = '{{ path('marcin_admin_dashboard_update_realizacja') }}';
                                
                                $.ajax({
                                    url: url,
                                    data: {
                                        id: button_id
                                    },
                                    method: 'POST',
                                    success: function (data) {
                                         document.getElementById("gm-panel"+button_id).className = "widok-realizacja";
                                         $('#gm-panel'+button_id).load(document.URL +  ' #gm-panel'+button_id);
                                         document.getElementById("ladowanie-realizacja").className = "overlay-none";
                                         document.getElementById("ladowanie-animacja-realizacja").className = "";      
                                    }
                                });
                               
                            }
                            function changeButtonRealizacjadel(id, event) {
                                var button_id = id;
                                if (window.confirm('Czy napewno chcesz anulować zamówienie?'))
                            {
                                document.getElementById("ladowanie-realizacja").className = "overlay";
                                document.getElementById("ladowanie-animacja-realizacja").className = "fa fa-refresh fa-spin";
                                
                                //var element = event.currentTarget;
                                //var clicked = event.target;
                                //var produkcja = $(element).val();
                                var url = '{{ path('marcin_admin_dashboard_update_realizacjadel') }}';
                                
                                $.ajax({
                                    url: url,
                                    data: {
                                        id: button_id
                                    },
                                    method: 'POST',
                                    success: function (data) {
                                         document.getElementById("gm-panel"+button_id).className = "widok-realizacja";
                                         $('#gm-panel'+button_id).load(document.URL +  ' #gm-panel'+button_id);
                                         document.getElementById("ladowanie-realizacja").className = "overlay-none";
                                         document.getElementById("ladowanie-animacja-realizacja").className = "";      
                                    }
                                });
                            }
                            else {
                                return false;
                            }
                            }
                            
                            function changeLock(id, warunek, event) {
                                var zamowienie = id;
                                var waruneknew = warunek;
                                
                                //var element = event.currentTarget;
                                //var clicked = event.target;
                                //var produkcja = $(element).val();
                                var url = '{{ path('marcin_admin_dashboard_update_lock') }}';
                                
                                $.ajax({
                                    url: url,
                                    data: {
                                        id: zamowienie,
                                        locknew: waruneknew
                                    },
                                    method: 'POST',
                                    success: function (data) {
                                          location.reload();
                                    }
                                });
                               
                            }
                            
                            function changeButtonProdukcjaa(id, event) {
                                var order_id = id;

                                document.getElementById("ladowanie-realizacja").className = "overlay";
                                document.getElementById("ladowanie-animacja-realizacja").className = "fa fa-refresh fa-spin";
                                
                                //var element = event.currentTarget;
                                //var clicked = event.target;
                                //var produkcja = $(element).val();
                                var url = '{{ path('marcin_admin_dashboard_update_wykonano') }}';
                                
                                var element = event.currentTarget;
                                //var clicked = event.target;
                                
                                if($(element).is('clicked')) {
             console.log('null kliknieto!');
             var zaplacono = 0;
        } else {
             console.log('kliknieto!');
             var zaplacono = 1;
        }
                                
                                $.ajax({
                                    url: url,
                                    data: {
                                      id: order_id,
                                      wykonano: zaplacono
                                    },
                                    method: 'POST',
                                    success: function (data) {
                                         document.getElementById("gm-panel"+order_id).className = "widok-realizacja";
                                         $('#gm-panel'+order_id).load(document.URL +  ' #gm-panel'+order_id);
                                         document.getElementById("ladowanie-realizacja").className = "overlay-none";
                                         document.getElementById("ladowanie-animacja-realizacja").className = "";      
                                    }
                                });
                               
                            }
                            
    var elems = document.getElementsByClassName('potwierdzenie');
    var confirmIt = function (e) {
        if (!confirm('Czy napewno usunąć?')) e.preventDefault();
    };
    for (var i = 0, l = elems.length; i < l; i++) {
        elems[i].addEventListener('click', confirmIt, false);
    }
    
    function addFakt(id, event) {
                                var order_id = id;
                                var element = event.currentTarget;
                                var clicked = event.target;
                               // var nazwa = 'nrfaktury';
                                //var fakt = document.getElementById(nazwa.order_id);
                                //var nrfakturki = fakt.value;
                                var fakturka = $('#nrfaktury'+order_id).val();
                                $('#fakt'+order_id).modal('hide');
                                var url = '{{ path('marcin_admin_dashboard_faktura_add') }}';

                                $.ajax({
                                    url: url,
                                    data: {
                                        id: order_id,
                                        nrfakt: fakturka
                                    },
                                    method: 'POST',
                                    success: function (data) {
                                         //document.getElementById("gm-panel"+order_id).className = "widok-realizacja";
                                         
                                         document.getElementById("ladowanie-realizacja").className = "overlay-none";
                                         document.getElementById("ladowanie-animacja-realizacja").className = ""; 
                                         $('#ffakt'+order_id).load(document.URL +  ' #ffakt'+order_id);
                                               console.log(fakturka);
                                    }
                                });

                            }
                            
                function editFakt(id, event) {
                                var order_id = id;
                                var element = event.currentTarget;
                                var clicked = event.target;
                               // var nazwa = 'nrfaktury';
                                //var fakt = document.getElementById(nazwa.order_id);
                                //var nrfakturki = fakt.value;
                                var fakturka = $('#nrfakturye'+order_id).val();
                                $('#fakte'+order_id).modal('hide');
                                var url = '{{ path('marcin_admin_dashboard_faktura_edit') }}';

                                $.ajax({
                                    url: url,
                                    data: {
                                        id: order_id,
                                        nrfakt: fakturka
                                    },
                                    method: 'POST',
                                    success: function (data) {
                                         //document.getElementById("gm-panel"+order_id).className = "widok-realizacja";
                                         
                                         document.getElementById("ladowanie-realizacja").className = "overlay-none";
                                         document.getElementById("ladowanie-animacja-realizacja").className = ""; 
                                         $('#ffakt'+order_id).load(document.URL +  ' #ffakt'+order_id);
                                               console.log(fakturka);
                                    }
                                });

                            }
    
 //   var elemsreal = document.getElementsByClassName('potwierdzenie-realizacja');
 //   var confirmIt = function (e) {
 //       if (!confirm('Czy napewno chcesz anulować zamówienie?')) e.preventDefault();
//    };
//    for (var i = 0, l = elemsreal.length; i < l; i++) {
//        elemsreal[i].addEventListener('click', confirmIt, false);
//    }

                            {#      $(function(){
                                       $('.ajax-task-complete').on({
                                           click: function(e) {
                                               e.preventDefault();
                                               var $href = $(this).attr('href');
                    
                                               $('<div></div>').load($href+' form', function(){
                                                   var $form = $(this).children('form');
                                                   var $cb = $form.find('input[type="checkbox"]');
                        
                                                   $cb.prop('checked', !$cb.prop('checked'));
                        
                                                   var $cb1 = $form.find('select[name*="status_select"]');
                        
                                                   $cb1.prop('selected', !$cb1.prop('selected'));
                        
                                                   var $url = $form.attr('action');
                                                   var $data = $form.serialize();
                        
                                                   $.ajax({
                                                       url: $url,
                                                       data: $data,
                                                       method: 'post',
                                                       dataType: 'json',
                                                       cache: false,
                                                       success: function(obj) {
                                                           var $tic = $('#task-complete-'+obj.id+' .ajax-task-complete');
                                                           if(obj.complete){
                                                               //$tic.text('X');
                                    
                                                           }
                                                           else {
                                                               //$tic.text('0');
                                                           $('#wynik'+obj.id).load(document.URL + ' #wynik'+obj.id);
                                                           $('#wynik_b'+obj.id).load(document.URL + ' #wynik_b'+obj.id);
                                                           }
                                                       },
                                                       complete: function() {
                                                           console.log('complete!');

                                                       },
                                                       error: function(err) {
                                                           console.log(err);
                                                       }
                                                   });
                                               });
                                           }
                                       });
            
            
                                       $('.status_select').on({
                                           change: function(e) {
                
                                     //  $('select[name*="status_select"]').prop('selected', true).change(function(e){
                                               e.preventDefault();
                                               var $href = $(this).attr('id');
                   
                    
                                               $('<div></div>').load($href+' form', function(){
                                                   //var $form = $(this).children('form');
                                                   var $form = $(this).closest('form');
                                                   var $cb = $form.find('select[name*="status_select"]');
                        
                                                   $cb.prop('selected');
                        
                                                   var $url = $form.attr('action');
                                                   var $data = $form.serialize();
                        
                                                   $.ajax({
                                                       url: $url,
                                                       data: $data,
                                                       method: 'POST',
                                                       dataType: 'json',
                                                       cache: false,
                                                       success: function(obj) {
                                                           var $tic = $('#task-complete-'+obj.id+' .status_select');
                                                           if(obj.complete){
                                                               //$tic.text('X');
                                    
                                                           }
                                                           else {
                                                               //$tic.text('0');
                                                           $('#wynik'+obj.id).load(document.URL + ' #wynik'+obj.id);
                                                           $('#wynik_b'+obj.id).load(document.URL + ' #wynik_b'+obj.id);
                                                           }
                                                       },
                                                       complete: function() {
                                                           console.log('complete!');

                                                       },
                                                       error: function(err) {
                                                           console.log(err);
                                                       }
                                                   });
                                               });
                                           }
                                       });
                                       });
#}
                        </script>
                        <script>
     var time = new Date().getTime();
     $(document.body).bind("mousemove keypress", function(e) {
         time = new Date().getTime();
     });

     function refresh() {
         if(new Date().getTime() - time >= 200000) 
             window.location.reload(true);
         else 
             setTimeout(refresh, 50000);
     }

     setTimeout(refresh, 50000);
</script>
<script>
    $(function(){
      // bind change event to select
      $('#trasy').on('change', function () {
          var url = $(this).val(); // get selected value
          if (url) { // require a URL
              window.location = url; // redirect
          }
          return false;
      });
    });
</script>     
        <script type="text/javascript" src="{{ asset('bundles/marcinadmin/own/select/js/bootstrap-select.min.js') }}"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
        <script>
    Morris.Line({
  element: 'myfirstchart',
  data: [
    { y: '{{ "now"|date("Y-m-d") }}', a: {{ czas1.count.czas1 }}, b: {{ czas8.count.czas8 }} },
    { y: '{{ "- 1 days"|date("Y-m-d") }}', a: {{ czas2.count.czas2 }},  b: {{ czas9.count.czas9 }} },
    { y: '{{ "- 2 days"|date("Y-m-d") }}', a: {{ czas3.count.czas3 }},  b: {{ czas10.count.czas10 }} },
    { y: '{{ "- 3 days"|date("Y-m-d") }}', a: {{ czas4.count.czas4 }},  b: {{ czas11.count.czas11 }} },
    { y: '{{ "- 4 days"|date("Y-m-d") }}', a: {{ czas5.count.czas5 }},  b: {{ czas12.count.czas12 }} },
    { y: '{{ "- 5 days"|date("Y-m-d") }}', a: {{ czas6.count.czas6 }},  b: {{ czas13.count.czas13 }} },
    { y: '{{ "- 6 days"|date("Y-m-d") }}', a: {{ czas7.count.czas7 }}, b: {{ czas14.count.czas14 }} }
  ],
  xkey: 'y',
  ykeys: ['a', 'b'],
  labels: ['Ten tydzień', 'Poprzedni tydzień'],
  xLabels: 'day'
});
    </script>
                    {% endblock %}

