{% extends 'MarcinAdminBundle::base.html.twig' %}
{% block stylesheets %}
{{parent()}}
{% endblock %}
{% block body %}
            <section class="content-header">
          <h1>
            Pulpit
            <small>zarządzania GM</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Pulpit</a></li>
            <li class="active">tutaj</li>
          </ol>
        </section>
                    {% include 'MarcinAdminBundle:Template:flashMsg.html.twig' %}
        <!-- Main content -->
        <section class="content">
            <div class="row">
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-aqua">
                <div class="inner">
                  <h3>{{ new_zam.count.all_new }}</h3>
                  <p>Nowych zamówień</p>
                </div>
                <div class="icon">
                  <i class="ion ion-bag"></i>
                </div>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-green">
                <div class="inner">
                  <h3>{{ send_zam.count.all_send }}<!--<sup style="font-size: 20px">%</sup>--></h3>
                  <p>Przyjętych do realizacji</p>
                </div>
                <div class="icon">
                  <i class="ion ion-stats-bars"></i>
                </div>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-yellow">
                <div class="inner">
                  <h3>{{ new_user.count.user }}</h3>
                  <p>Nowych użytkowników</p>
                </div>
                <div class="icon">
                  <i class="ion ion-person-add"></i>
                </div>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-red">
                <div class="inner">
                  <h3>{{ pagination.getTotalItemCount }}</h3>
                  <p>Wszystkich zamówień</p>
                </div>
                <div class="icon">
                  <i class="ion ion-pie-graph"></i>
                </div>
              </div>
            </div><!-- ./col -->
          </div>
            <div class="box box-default color-palette-box">
            <div class="box-header with-border">
              <h3 class="box-title"><i class="fa fa-tag"></i> Zamówienia</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table id="example2" class="table table-bordered table-hover dataTable" role="grid">
                            <thead>
                                <tr role="row">
                                    <th <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="id">{{ knp_pagination_sortable(pagination, 'Id', 's.id') }}</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Jakie zamówienie">jakie_zam</th>
                                    <th>status</th>
                                    <th>send data</th>
                                    <th>nr-user-zam</th>
                                    <th>do zaplaty</th>
                                    <th>akcje</th>
                                    <th>PDF</th>
                                </tr>
                            </thead>
        
    {% for article in pagination  %}
       <tr><th>{{ article.id }}</th> 
        <th>{{ article.jakie_zam }}</th>
        <th><h4>{% if article.status == 'wersja robocza' %}<span class="label label-danger">{{ article.status }}</span> {% elseif article.status == 'przesłane do realizacji' %} <span class="label label-info">{{ article.status }}</span> {% elseif article.status == 'w realizacji' %} <span class="label label-success">{{ article.status }}</span> {% elseif article.status == 'przyjęte do realizacji' %} <span class="label label-success">{{ article.status }}</span> {% else %} <span class="label label-primary">{{ article.status }}</span>{% endif %}</h4></th>
       <th>{% if article.status == 'wersja robocza' %} - {% else %}{{ article.sendDate | date('m/d/Y') }}{% endif %}</th>
       <th>{{ article.nr_user_zam  }}</th>
       <th>{% if article.zaplacono == '0' %} <h4>{% if article.dozaplaty == '0' %}<span class="label label-warning"><i class="fa fa-exclamation-circle"></i> do wyceny </span>{% else %}<span class="label label-danger">{{ article.dozaplaty  }} zł</span>{% endif %}</h4> {% else %} <h4><span class="label label-success">zapłacono</span></h4> {% endif %}</th>
       <th>
                              <div class="btn-group">
                                  <a href="{{ path('marcin_admin_dashboard_form', {'id': article.id}) }}" class="btn btn-primary">
                                      <span class="glyphicon glyphicon-edit"></span>
                                  </a></div>
       {% set tokenName = csrfProvider.generateCsrfToken(deleteTokenName|format(article.id)) %}
                                      {% set deleteUrl = path('marcin_admin_dashboard_delete', {'id': article.id, 'token': tokenName}) %}
                                      <a href="{{ deleteUrl }}" class="btn btn-danger" data-confirmAction="">
                                          <span class="glyphicon glyphicon-trash"></span>
                                      </a>
       </th>
                                  <th><a href="https://grupamagnum.eu/zamowienia/zamowienia/{{ article.nr_user_zam  }}.pdf" target="_blank"><span class="fa fa-file-pdf-o"></span></a></th>
       </tr>
    {% endfor %}
        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                            Wszystkich zamówień jest: {{ pagination.getTotalItemCount }}
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="dataTables_paginate">
                            {{ knp_pagination_render(pagination, 'MarcinAdminBundle:Pagination:admin_pagination.html.twig') }}
                        </div>
                    </div>
                </div>
            </div><!-- /.box-body -->
            
          </div>

</section>
        {% endblock %}
{% block javascripts %}
    {{parent()}}
{% endblock %}

