{% extends 'MarcinAdminBundle::base.html.twig' %}
{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/marcinadmin/own/select/css/bootstrap-select.min.css') }}" />
<style>
    @media print
{
	dum {color: #ff0000 !important;
		-webkit-print-color-adjust: exact; }
		
        brakdruku {
            content: none !important;
        }
        tr.kolordruk {
            background-color: #C3C3C3 !important;
            -webkit-print-color-adjust: exact;
        }
div.page
      {
        page-break-after: always;
        
      }
      ukrywanie {
          display: none !important;
          content: none !important;
          visibility: hidden;
      }
      .btn { display: none;
      visibility: hidden;}
      hr { display: none;
      visibility: hidden;}
}
</style>
{% endblock %}
{% block body %}
            <section class="content-header">
          <h1>
            Pulpit
            <small>zarządzania GM</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Pulpit</a></li>
            <li class="active">tutaj</li>
          </ol>
        </section>
                    {% include 'MarcinAdminBundle:Template:flashMsg.html.twig' %}
        <!-- Main content -->
        <section class="content">
            <div class="box box-default color-palette-box">
            <div class="box-header with-border">
              <h3 class="box-title"><i class="fa fa-tag"></i> Użytkownicy</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12">   
                        <INPUT TYPE="button" class="btn btn-warning btn-lg btn-block" onClick="printDivall('drukuj_all')" value="WYDRUKUJ WSZYSTKIE">
                        <center>
                          <div id="drukuj_all">
                               {% for trasss in dane%}
                                  {# {{trasss.id}}#}
                                      {% set user = trasss.user %}
                                       <div class="page">
<div id="do_drukowania{{trasss.id}}">
                                  <div class="row">
                                      <div class="col-xs-6">
                                          <b><h4>KLIENT: <b>{{ trasss.user }}</b></h4></b><br>
                                          <b>{{ trasss.nazwa }}</b><br>
                                      Ulica: {{ trasss.ulica }}, {{ trasss.kod }} {{ trasss.miejscowosc }}<br>
                                           Telefon: {{ trasss.telefon }},<br>
                                           Trasa: {{ status }}
                                      </div>
                                      <div class="col-xs-6">
                                          <b><h4>PRODUCENT:</h4></b><br>
                                          <b>Magnum Tadeusz Romański</b><br>
                                          ul. Tuchowska 62, 33-100 Tarnów<br>
                                          NIP: PL8731017278
                                      </div>
                                  </div><br>
                                      <div class="row">
                                      <div class="col-md-12">
                                          {% for firma in faktura if firma.user == trasss.user %}
                                              <b>Firma:</b> {{ firma.nazwafirmy }}, NIP: {{ firma.nip }}, {{ firma.kodpocztowy }} {{ firma.miasto }}, {{ firma.ulica }} 
                                          {% endfor %}
                                      </div>
                                  </div>
                                  <br>
                                           {% set kasa = 0 %}
                                           {% set idzam = 0 %}
                                           {% set nrzamowienia = 0 %}
                                            {% for prod in produkty if prod.dostawa == trasss.id %}
                                                {% set idzam = prod.dostawa %}
                                                {% set nrzamowienia = prod.id %}
                                                <table border="1" width="100%">
                                                    <tr class="kolordruk" bgcolor="#C3C3C3"><th colspan="4"><center><b><font color="red"><dum>{{ prod.jakiezam }}</dum></font></b></center></th></tr>
                                                    <tr class="kolordruk" bgcolor="#C3C3C3"><th>Lp.</th><th>Zamówienie</th><th>Nr. zam. Klienta</th><th>Informacje</th></tr>
                                                    <tr class="kolordruk" height="30px" bgcolor="#C3C3C3"><td><b>{{ loop.index }}</b></td>
                                                        <td><b><dum>{{ prod.nrprodukcji }}</dum></b></td> <td>{{ prod.nruser }}
                                                            </td><td>  Kwota: <b><dum>{% if prod.zaplacono == '1' %}0{% else %}{{ prod.dozaplaty }}{% endif %}</dum></b>, 
                                                            {{ prod.platnosc }}</td></tr>{% if prod.zaplacono == '1' %}{% set kasa = kasa + 0 %}{% else %}{% set kasa = kasa + prod.dozaplaty %}{% endif %}
                                                </table>
                                                <table border="1" width="100%" style="margin: auto">
                                                       <tr><th>Lp.</th><th>Typ</th><th>Kolor</th><th>Szerokość</th><th>Wysokość</th></tr>
                                                    {% for listaprod in lista if prod.id == listaprod.idzam %}
                                                           <tr>
                                                       <td height="30px"><center>{{ loop.index }}</center>{#{{ listaprod.idzam }}#}</td><td style="margin: auto">  {{ listaprod.typ }}</td> <td style="margin: auto"> {{ listaprod.kolor }}</td><td style="margin: auto">  {{ listaprod.szera }}</td> {#<td style="margin: auto">  {{ listaprod.szerb }}</td> #}<td style="margin: auto">  {{ listaprod.wysh }}</td> 
                                                           </tr>
                                                   
                                                        {% endfor %}
                                                        </table>
                                                
                                                {% if status == 'wysylka' %}
                                                        <div class='row'><div class='col-xs-12'><div class="form-group has-success"><input type='text' id='nrlistu' class='form-control brakdruku' onchange="changeNrListu('{{ nrzamowienia }}', event)" {#value='{{ nrzamowienia }}'#} placeholder="Nr listu"></div></div></div>
                                                       {% endif %}
                                                        <br>
                                            {% endfor %}
                                            
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <h3>Suma: <b>{{ kasa }}</b> zł</h3>
                                                </div>
                                                <div class="col-xs-3">
                                                </div>
                                                <div class="col-xs-3">
                                                </div>
                                                <div class="col-xs-3">
                                                    ....................................<br>potwierdzenie odbioru
                                                </div>
                                            </div>
    </div>    
                                  </div>
                                            <FORM>
                                                <div id="ukrywanie" class="ukrywanie row"><div class="col-md-6"><INPUT TYPE="button" class="btn btn-warning btn-lg btn-block" onClick="printDiv('do_drukowania{{trasss.id}}')" value="WYDRUKUJ LUB ZAPISZ DO PDF"></div><div class="col-md-6"><a href="{% if status == 'odbior' %}{{ path('marcin_admin_trasa_przesylanie_odbior', {'trasastat': status, 'user': user, 'idzam': idzam }) }}{% elseif status == 'salon' %}{{ path('marcin_admin_trasa_przesylanie_odbior', {'trasastat': status, 'user': user, 'idzam': idzam }) }}{% elseif status == 'tuchowska' %}{{ path('marcin_admin_trasa_przesylanie_odbior', {'trasastat': status, 'user': user, 'idzam': idzam }) }}{% elseif status == 'montaz' %}{{ path('marcin_admin_trasa_przesylanie_odbior', {'trasastat': status, 'user': user, 'idzam': idzam }) }}{% elseif status == 'wysylka' %}{{ path('marcin_admin_trasa_przesylanie_wysylka', {'trasastat': status, 'user': user, 'idzam': idzam }) }}{% else %}{{ path('marcin_admin_trasa_przesylanie', {'trasastat': status, 'user': user, 'idzam': idzam }) }}{% endif %}" class="btn btn-primary btn-lg btn-block">Wyślij</a></div></div></FORM> 
<hr>
                                {% endfor %}
                        </div>
                        </center>
                               

                    </div>
                </div>
            </div><!-- /.box-body -->
            
          </div>

</section>
        {% endblock %}
{% block javascripts %}
    {{parent()}}
                           
    <script type="text/javascript" src="{{ asset('bundles/marcinadmin/own/select/js/bootstrap-select.min.js') }}"></script>
         <script>
function printDiv(divName) {
     var printContents = document.getElementById(divName).innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
}
</script>
         <script>
function printDivall(divName) {
     var printContents = document.getElementById(divName).innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
}
</script>drukowanieall
{% if status == 'wysylka' %}
<script>
     function changeNrListu(id, event) {
                                var order_id = id;
                                var element = event.currentTarget;
                                var clicked = event.target;
                                var produkcja = $(element).val();
                                var url = '{{ path('marcin_admin_trasa_update_wysylka') }}';

                                $.ajax({
                                    url: url,
                                    data: {
                                        id: order_id,
                                        nrlistu: produkcja
                                    },
                                    method: 'POST',
                                    success: function (data) {
                                               
                                    }
                                });

                            }
</script>
{% endif %}
{% endblock %}

