{% extends 'MarcinAdminBundle::base.html.twig' %}
{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/marcinadmin/own/select/css/bootstrap-select.min.css') }}" />
{% endblock %}
{% block body %}
            <section class="content-header">
          <h1>
            Pulpit
            <small>zarządzania GM</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Pulpit</a></li>
            <li class="active">tutaj</li>
          </ol>
        </section>
                    {% include 'MarcinAdminBundle:Template:flashMsg.html.twig' %}
        <!-- Main content -->
        <section class="content">
            <div class="box box-default color-palette-box">
            <div class="box-header with-border">
              <h3 class="box-title"><i class="fa fa-tag"></i> Użytkownicy</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12">       
                        <a href="{{ path('marcin_admin_trasa_poniedzialek') }}" class="btn btn-primary">Poniedziałek  <span class="badge">{{ pon.count.all_pon }}</span></a>
                        <a href="{{ path('marcin_admin_trasa_wtorek') }}" class="btn btn-primary">Wtorek <span class="badge">{{ wto.count.all_wto }}</span></a>
                        <a href="{{ path('marcin_admin_trasa_sroda') }}" class="btn btn-primary">Środa <span class="badge">{{ sro.count.all_sro }}</span></a>
                        <a href="{{ path('marcin_admin_trasa_czwartek') }}" class="btn btn-primary">Czwartek <span class="badge">{{ czw.count.all_czw }}</span></a>
                        <a href="{{ path('marcin_admin_trasa_piatek') }}" class="btn btn-primary">Piątek <span class="badge">{{ pia.count.all_pia }}</span></a>
                        <a href="{{ path('marcin_admin_trasa_tarnow') }}" class="btn btn-primary">Tarnów <span class="badge">{{ tar.count.all_tar }}</span></a>
                        <a href="{{ path('marcin_admin_trasa_tadeusz') }}" class="btn btn-primary">Tadeusz <span class="badge">{{ tad.count.all_tad }}</span></a>
                        <a href="{{ path('marcin_admin_trasa_odbior') }}" class="btn btn-primary">Odbiór <span class="badge">{{ odb.count.all_odb }}</span></a>
                        <a href="{{ path('marcin_admin_trasa_salon') }}" class="btn btn-primary">Salon <span class="badge">{{ sal.count.all_sal }}</span></a>
                        <a href="{{ path('marcin_admin_trasa_tuchowska') }}" class="btn btn-primary">Tuchowska <span class="badge">{{ tuch.count.all_tuch }}</span></a>
                        <a href="{{ path('marcin_admin_trasa_montaz') }}" class="btn btn-primary">Montaż <span class="badge">{{ mon.count.all_mon }}</span></a>
                        <a href="{{ path('marcin_admin_trasa_wysylka') }}" class="btn btn-primary">Wysyłka <span class="badge">{{ wys.count.all_wys }}</span></a>
                        <table id="example2" class="table table-bordered table-hover dataTable" role="grid">
                            <thead>
                                <tr role="row">
                                    <th <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="id">{{ knp_pagination_sortable(pagination, 'Id', 's.id') }}</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Jakie zamówienie">Jakie zam</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Jakie zamówienie">Nr zam</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Jakie zamówienie">produkcji</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Jakie zamówienie">kwota</th>
                                    <th>trasa</th>
                                </tr>
                            </thead>
        
    {% for article in pagination  %}
       <tr><th>{{ article.id }}</th> 
           <th>{{ article.jakie_zam }}</th>
           <th>{{ article.nr_user_zam }}</th>
           <th>{{ article.nrprodukcji }}</th>
           <th>{{ article.dozaplaty }}</th>
           <th id="zmiana-trasa-{{ article.id }}">
           <select name="status_select" class="selectpicker" data-style="btn-primary" id="{{ path('marcin_admin_trasa_update_trasa', {'id': article.id }) }}" onchange="changeOrderTrasa('{{ article.id }}', event)">
                {% for trasy in trasa %}
                <option value="{{ trasy.nazwa }}"{% if article.trasa == trasy.nazwa %} selected="selected" {% endif %}>{{ trasy.nazwa }}</option>
                {% endfor %}
           </select>
           </th>
       </tr>
    {% endfor %}
        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                            Wszystkich zamówień jest: {{ pagination.getTotalItemCount }}
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="dataTables_paginate">
                            {{ knp_pagination_render(pagination, 'MarcinAdminBundle:Pagination:admin_pagination.html.twig') }}
                        </div>
                    </div>
                </div>
            </div><!-- /.box-body -->
            
          </div>

</section>
        {% endblock %}
{% block javascripts %}
    {{parent()}}
                            <script type="text/javascript">

                            function changeOrderTrasa(id, event) {
                                var order_id = id;
                                var element = event.currentTarget;
                               // var clicked = event.target;
                                var status = $(element).val();
                                var url = '{{ path('marcin_admin_trasa_update_trasa') }}';

                                $.ajax({
                                    url: url,
                                    data: {
                                        id: order_id,
                                        status: status
                                    },
                                    method: 'POST',
                                    success: function (data) {
                                                console.log(status);
                                    }
                                });

                            }
    </script>
    <script type="text/javascript" src="{{ asset('bundles/marcinadmin/own/select/js/bootstrap-select.min.js') }}"></script>
{% endblock %}

