{% extends 'MarcinAdminBundle::base.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/marcinadmin/own/style.css') }}" />
   <link rel="stylesheet" type="text/css" href="{{ asset('bundles/marcinadmin/own/select/css/bootstrap-select.min.css') }}" />
{% endblock %}
{% block body %} 
 <section class="content-header">
          <h1>
            Pulpit
            <small>zarządzania GM</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Pulpit</a></li>
            <li class="active">tutaj</li>
          </ol>
        </section>
                    {% include 'MarcinAdminBundle:Template:flashMsg.html.twig' %}
        <!-- Main content -->
        <section class="content">
            <div class="box box-default color-palette-box">
            <div class="box-header with-border">
              <h3 class="box-title"><i class="fa fa-tag"></i> Zamówienia Shoper</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12">
                       {#<a href="{{ path('marcin_admin_shoper_send_klinar') }}" class="btn btn-primary">wyślij zaznaczone</a>#}
                        <table id="example2" class="table table-bordered table-hover dataTable" role="grid">
                            <thead>
                                <tr role="row">
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Jakie zamówienie">{{ knp_pagination_sortable(pagination, 'ID zamówienia', 's.idzam') }}</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Jakie zamówienie">Firma</th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Jakie zamówienie">Imie Nazwisko</th>
                                    <th>akcje</th>
                                </tr>
                            </thead>
        
    {% for shoper in pagination  %}
       <tr>
           <th>{#<a href="{{ path('marcin_admin_shoper_klinar_show', {'idzam': shoper.idzam}) }}" class="btn btn-primary">#}{{ shoper.idzam }}{#</a>#}</th>
           <th>{{ shoper.firma }}</th>
           <th>{{ shoper.imie }} {{ shoper.nazwisko }}</th>
           <th> {% if( shoper.datawyslania == null) %}<a href="{{ path('marcin_admin_shoper_send_klinar', {'id': shoper.id, 'idzam': shoper.idzam}) }}" class="btn btn-primary">wyślij zamówienie</a>{% else %} {{ shoper.datawyslania|date("Y-m-d H:i:s") }} {% endif %}</th>
       </tr>
    {% endfor %}
        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                            Wszystkich zamówień jest: {{ pagination.getTotalItemCount }}
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="dataTables_paginate">
                            {{ knp_pagination_render(pagination, 'MarcinAdminBundle:Pagination:admin_pagination.html.twig') }}
                        </div>
                    </div>
                </div>
            </div><!-- /.box-body -->
            
          </div>

</section>
{% endblock %}
    {% block javascripts %}
        {{parent()}}
        <script type="text/javascript">

                            function changeOrderKlinar(id, event) {
                                var order_id = id;
                                var element = event.currentTarget;
                                var clicked = event.target;
                                
                                if($(element).is(":checked")) {
             console.log('zaznaczono!');
             var zaplacono = 1;
        } else {
             console.log('odznaczono!');
             var zaplacono = 0;
        }
                                
                                var url = '{{ path('marcin_admin_shoper_send') }}';

                                $.ajax({
                                    url: url,
                                    data: {
                                        id: order_id,
                                        zaznaczono: zaplacono
                                    },
                                    method: 'POST',
                                    success: function (data) {
                                                console.log(order_id);
                                    }
                                });

                            }
        </script>
                <script type="text/javascript" src="{{ asset('bundles/marcinadmin/own/select/js/bootstrap-select.min.js') }}"></script>
        {% endblock %}