 <ul class="sidebar-menu">
            <li class="header">MENU</li>
            <!-- Optionally, you can add icons to the links -->
            <li class="{% if app.request.get('_route') == 'marcin_admin_dashboard' %}active{% endif %}"><a href="{{ path('marcin_admin_dashboard') }}"><i class="fa fa-link"></i> <span>Panel</span><span class="label label-primary pull-right">{{ navigation.zamowienia.count.all }}</span></a></li>
            <li class="{% if app.request.get('_route') == 'marcin_admin_username' %}active{% endif %}"><a href="{{ path('marcin_admin_username') }}"><i class="fa fa-user"></i> <span>Użytkownicy</span><span class="label label-primary pull-right">{{ navigation.username.count.user }}</span></a></li>
            <li class="{% if app.request.get('_route') == 'marcin_admin_shoper' %}active{% endif %}"><a href="{{ path('marcin_admin_shoper') }}"><i class="fa fa-shopping-cart"></i> <span>Shoper</span>{#<span class="label label-primary pull-right">{{ navigation.username.count.user }}</span>#}</a></li>
            <li class="treeview {% if app.request.get('_route') == 'marcin_admin_shoper_klinar' %}active{% endif %}">
                <a href="{{ path('marcin_admin_shoper_klinar') }}">
                    <i><b>KLI</B></i> <span>Zamówienia klinar</span>{#<span class="label label-primary pull-right">{{ navigation.username.count.user }}</span>#}
                </a>
                <ul class="treeview-menu">
                    <li class="{% if app.request.get('_route') == 'marcin_admin_shoper_klinar' %}active on{% endif %}"><a href="{{ path('marcin_admin_shoper_klinar') }}"><i class="fa fa-circle-o"></i> Klinar</a></li>
                    <li class="{% if app.request.get('_route') == 'marcin_site_klinar' %}active on{% endif %}"><a target="_blank" href="{{ path('marcin_site_klinar') }}"><i class="fa fa-circle-o"></i> Klinar panel</a></li>
                </ul>
            </li>
            <li class="treeview {% if app.request.get('_route') == 'marcin_admin_invest' %}active{% endif %}">
                <a href="{{ path('marcin_admin_invest') }}">
                    <i><b>INV</B></i> <span>Zamówienia invest</span>{#<span class="label label-primary pull-right">{{ navigation.username.count.user }}</span>#}
                </a>
                <ul class="treeview-menu">
                    <li class="{% if app.request.get('_route') == 'marcin_admin_invest' %}active on{% endif %}"><a href="{{ path('marcin_admin_invest') }}"><i class="fa fa-circle-o"></i> Invest</a></li>
                    <li class="{% if app.request.get('_route') == 'marcin_site_invest' %}active on{% endif %}"><a target="_blank" href="{{ path('marcin_site_invest') }}"><i class="fa fa-circle-o"></i> Invest panel</a></li>
                </ul>
            </li>
            <li class="treeview {% if app.request.get('_route') == 'marcin_admin_partnerplast' %}active{% endif %}">
                <a href="{{ path('marcin_admin_partnerplast') }}">
                    <i><b>PaP</B></i> <span>Zamówienia PartnerPlast</span>{#<span class="label label-primary pull-right">{{ navigation.username.count.user }}</span>#}
                </a>
                <ul class="treeview-menu">
                    <li class="{% if app.request.get('_route') == 'marcin_admin_partnerplast' %}active on{% endif %}"><a href="{{ path('marcin_admin_partnerplast') }}"><i class="fa fa-circle-o"></i> PartnerPlast</a></li>
                    <li class="{% if app.request.get('_route') == 'marcin_site_partnerplast' %}active on{% endif %}"><a target="_blank" href="{{ path('marcin_site_partnerplast') }}"><i class="fa fa-circle-o"></i> PartnerPlast panel</a></li>
                </ul>
            </li>
            <li class="treeview {% if app.request.get('_route') == 'marcin_admin_selena' %}active{% endif %}">
                <a href="{{ path('marcin_admin_selena') }}">
                    <i><b>SEL</B></i> <span>Zamówienia Selena</span>{#<span class="label label-primary pull-right">{{ navigation.username.count.user }}</span>#}
                </a>
                <ul class="treeview-menu">
                    <li class="{% if app.request.get('_route') == 'marcin_admin_selena' %}active on{% endif %}"><a href="{{ path('marcin_admin_selena') }}"><i class="fa fa-circle-o"></i> Selena</a></li>
                    <li class="{% if app.request.get('_route') == 'marcin_site_selena' %}active on{% endif %}"><a target="_blank" href="{{ path('marcin_site_selena') }}"><i class="fa fa-circle-o"></i> Selena panel</a></li>
                </ul>
            </li>
            <li class="treeview {% if app.request.get('_route') == 'marcin_admin_hanno' %}active{% endif %}">
                <a href="{{ path('marcin_admin_hanno') }}">
                    <i><b>HAN</B></i> <span>Zamówienia Hanno</span>{#<span class="label label-primary pull-right">{{ navigation.username.count.user }}</span>#}
                </a>
                <ul class="treeview-menu">
                    <li class="{% if app.request.get('_route') == 'marcin_admin_hanno' %}active on{% endif %}"><a href="{{ path('marcin_admin_hanno') }}"><i class="fa fa-circle-o"></i> Hanno</a></li>
                    <li class="{% if app.request.get('_route') == 'marcin_site_stier' %}active on{% endif %}"><a target="_panel" href="{{ path('marcin_site_stier') }}"><i class="fa fa-circle-o"></i> Hanno panel</a></li>
                </ul>
            </li>
            <li class="treeview {% if app.request.get('_route') == 'marcin_admin_awax' %}active{% endif %}">
                <a href="{{ path('marcin_admin_awax') }}">
                    <i><b>AWA</B></i> <span>Zamówienia Awax</span>{#<span class="label label-primary pull-right">{{ navigation.username.count.user }}</span>#}
                </a>
                <ul class="treeview-menu">
                    <li class="{% if app.request.get('_route') == 'marcin_admin_awax' %}active on{% endif %}"><a href="{{ path('marcin_admin_awax') }}"><i class="fa fa-circle-o"></i> Awax</a></li>
                    <li class="{% if app.request.get('_route') == 'marcin_site_awax' %}active on{% endif %}"><a target="_blank" href="{{ path('marcin_site_awax') }}"><i class="fa fa-circle-o"></i> Awax panel</a></li>
                </ul>
            </li>
            <li class="treeview {% if app.request.get('_route') == 'marcin_admin_zygmar' %}active{% endif %}">
                <a href="{{ path('marcin_admin_zygmar') }}">
                    <i><b>ZYG</B></i> <span>Zamówienia Zygmar</span>{#<span class="label label-primary pull-right">{{ navigation.username.count.user }}</span>#}
                </a>
                <ul class="treeview-menu">
                    <li class="{% if app.request.get('_route') == 'marcin_admin_zygmar' %}active on{% endif %}"><a href="{{ path('marcin_admin_zygmar') }}"><i class="fa fa-circle-o"></i> Zygmar</a></li>
                    <li class="{% if app.request.get('_route') == 'marcin_site_zygmar' %}active on{% endif %}"><a target="_blank" href="{{ path('marcin_site_zygmar') }}"><i class="fa fa-circle-o"></i> Zygmar panel</a></li>
                </ul>
            </li>
            <li class="{% if app.request.get('_route') == 'marcin_admin_allzam' %}active{% endif %}"><a href="{{ path('marcin_admin_allzam') }}"><i class="fa fa-shopping-basket"></i> <span>Nasze zamówienia</span>{#<span class="label label-primary pull-right">{{ navigation.username.count.user }}</span>#}</a></li>
             {% if is_granted('ROLE_ADMIN') %}<li class="{% if app.request.get('_route') == 'common_user_admin_users' %}active{% endif %}"><a href="{{ path('common_user_admin_users') }}"><i class="fa fa-users" aria-hidden="true"></i> <span>Urzytkownicy panelu</span>{#<span class="label label-primary pull-right">{{ navigation.username.count.user }}</span>#}</a></li>{% endif %}
        </ul>